.carousel {
  margin: 0 -110px;
  overflow: hidden;
  .inner {
    padding: 0 !important;
    white-space: nowrap;
    width: 7200px;
  }
  .slide {
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: 0 0;
    float: left;
    height: 700px;
    width: 1200px;
  }
  img {
    display: block;
  }
}