#wrapper {
  position: relative;
}

#header {
  background: #fff;
  color: #26282c;
  font: 12px/20px "helvetica-neue", sans-serif;
  height: 60px;
  padding-top: 60px;
  text-transform: uppercase;
  .inner {
    position: relative;
  }
  li {
    display: inline-block;
    margin-left: 30px;
  }
  a {
    color: #999;
    text-decoration: none;
    em {
      color: #26282c;
    }
  }
}
.navbar {
  background: #fff;
  height: 60px;
  width: 100%;
  z-index: 3;  
  &.stuck {
    left: 0;
    position: fixed;
    top: 0;
  }
  &.bottom {
    bottom: 0;
    position: absolute;
    top: auto;
  }
  .inner {
    padding-top: 22px;
  }
}
.brand {
  float: left;
  font-weight: normal;
  font-size: 20px;
  line-height: 1;
  margin: 0;
  span {
    background: transparent url(/images/world.png) no-repeat 100% -1px;
    font-weight: 100;
    padding-right: 35px;
  }
}
.nav {
  float: right;
 }
.utility-navbar {
  font-size: 10px;
  text-align: right;
  .inner {
    position: absolute;
    right: 0;
    top: -95px;
  }
  li {
    margin-left: 20px !important;
    &:not(:first-child) a {
      background: transparent url(/images/icon.arrow.down.png) no-repeat 100% -1px;
      padding-right: 10px;
    }
  }
  strong {
    color: #26282c;
    font-weight: bold;
  }
}
