#footer {
  margin-top: 0px;
}

#body .inner 
{
  position: relative;
  section {
    position: relative;
    top: 200px;
    width: 300px;
    height: 600px;
    margin: 0 auto;
    .pixel {
      position: absolute;
      width: 15px;
      height: 15px;
      border-radius: 15px;
      background: black;
    }

    .pixel:nth-child(2)  { left: 30px;  }
    .pixel:nth-child(3)  { left: 60px;  }
    .pixel:nth-child(4)  { left: 90px;  }
    .pixel:nth-child(5)  { left: 120px; }
    .pixel:nth-child(6)  { left: 150px; }
    .pixel:nth-child(7)  { left: 180px; }
    .pixel:nth-child(8)  { left: 210px; }
    .pixel:nth-child(9)  { left: 240px; }
    .pixel:nth-child(10) { left: 270px; }
  } 
}

.mobile #body .inner {
  overflow: hidden;

  #wrapper {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 100%;
  }
  .mobile #scroller {
    height: 800px;
  }
}