#footer {
  margin-top: 0px;
}

#body
{
  width: 1200px;
  padding: 0;
  .inner 
  {
    position: relative;
    width: 100%;
    padding: 0;
    margin: 0;
    section {
      position: relative;
      top: 0px;
      width: 100%;
      /*height: 6182px;*/
      margin: 0;
      // background: green;
      .page {
        background-color: transparent;
        background-repeat: no-repeat;
        background-position: 0;
        background-attachment: fixed;
        width: 100%;
        overflow: hidden;
        position: relative;
        .page-bg {
          position: absolute;
          &.house {
            width: 100%;
            height: 1060px;
            background: #26282c;
          }
        }
        .page-grid-info {
          color: #eee;
          margin-top: 70px;
          text-align: center;
          font:normal 20px/1 "helvetica-neue", sans-serif;
          margin-bottom: 15px;
          text-transform: uppercase;
        }
        .page-grid-title {
          color: #fff;
          text-align: center;
          font:italic normal 45px/1 "helvetica-neue-condensed", sans-serif;
          text-transform: uppercase;
        }
        .page-grid-click {
          clear: both;
          color: #eee;
          text-transform: uppercase;
          text-decoration: underline;
          text-align: center;
          font-size: 14px;
          font-style: italic;
          padding-top: 20px;
        }
        .page-grid {
          color: #fff;
          width: 981px;
          margin: 50px auto;
          .page-grid-item {
            float: left;
            margin-bottom: 50px;
            .grid-item-info {
              text-transform: uppercase;
              font-size: 18px;
              line-height: 24px;
              font-style: italic;
              margin-bottom: 3px;
            }
            .grid-item-image {
            }
            .grid-item-name {
              line-height: 20px;
              margin-bottom: 3px;
              font-size: 14px;
              font-style: italic;
            }
            .grid-item-description {
              font-size: 11px;
              line-height: 16px;
              width: 240px;
              color: #888;
              span {
                color: #eee;
                text-decoration: underline;
                text-transform: uppercase;
                font-style: italic;
              }
            }
          }
        }
        .page-titles {
          position: absolute;
          top: 200px;
          left: 150px;
          &.center{
            text-align: center;
            left: 375px;
          }
          .first-title {
            color: #fff;
            font:normal 20px/1 "helvetica-neue", sans-serif;
            margin-bottom: 15px;
            text-transform: uppercase;
          }
          .second-title {
            color: #fff;
            font:italic normal 65px/1 "helvetica-neue-condensed", sans-serif;
            margin-bottom: 15px;
            margin-left: -5px;
            text-transform: uppercase;
          }
          .description {
            color: #fff;
            font-size: 14px;
            font-style: italic;
            line-height: 20px;
            margin-bottom: 10px;
          }
          .click-title {
            color: #fff;
            font-size: 14px;
            text-decoration: underline;
            text-transform: uppercase;
            font-style: italic;
            font-weight: normal;
          }
        }
      }
    } 
  }
}

*{
  -webkit-overflow-scrolling:touch;
}

#page01 {
  height: 880px;
}
#page02 {
  height: 1060px;
}
#page03 {
  height: 840px;
}
#page04 {
  height: 1020px;
}
#page05 {
  height: 940px;
}
#page06 {
  height: 968px;
}
#page07 {
  height: 675px;
}

.mobile body {
  overflow: hidden;
  #body {
    width: 1024px;
    .inner {
      section {
        height: 5453px;
        .page {
          .page-titles {
            top: 180px;
            left: 120px;
            &.center{
              left: 287px;
            }
          }
          > img {
            margin-left: -88px;
          }
        }
      }
    }
  }

  #wrapper {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 100%;
  }
  #scroller {
    height: 6640px;
  }
}