#footer {
  margin-top: 0px;
}

.navbar {
  position: relative;
}

#body
{
  padding: 0;
  .inner 
  {
    position: relative;
    width: 100%;
    padding: 0;
    margin: 0;
    section {
      position: relative;
      top: 0px;
      width: 100%;
      height: 4308px;
      margin: 0;
      // background: green;
      .page {
        width: 100%;
        overflow: hidden;
        position: relative;
        .page-bg {
          position: absolute;
          &.house {
            width: 100%;
            height: 800px;
            background: #262626;
          }
        }
        .page-grid-info {
          color: #eee;
          margin-top: 50px;
          text-align: center;
          font:lighter 15px/1 "helvetica-neue", sans-serif;
          text-transform: uppercase;
          line-height: 30px;
        }
        .page-grid-title {
          color: #fff;
          text-align: center;
          font:italic lighter 36px/1 "helvetica-neue-condensed", sans-serif;
          text-transform: uppercase;
        }
        .page-grid-click {
          clear: both;
          color: #eee;
          text-transform: uppercase;
          text-decoration: underline;
          text-align: center;
          font:lighter 14px/1;
          font-style: italic;
        }
        .page-grid {
          color: #fff;
          width: 834px;
          margin: 30px auto;
          .page-grid-item {
            float: left;
            margin-bottom: 50px;
            .grid-item-info {
              text-transform: uppercase;
              font-size: 16px;
              font-style: italic;
              margin-bottom: 3px;
            }
            .grid-item-image {
            }
            .grid-item-name {
              text-transform: uppercase;
              line-height: 16px;
              margin-bottom: 3px;
              font-size: 13px;
              font-style: italic;
            }
            .grid-item-description {
              font-size: 10px;
              line-height: 12px;
              width: 240px;
              color: #888;
              span {
                color: #eee;
                text-decoration: underline;
                text-transform: uppercase;
                font-style: italic;
              }
            }
          }
        }
        .page-titles {
          position: absolute;
          top: 180px;
          left: 120px;
          width: 440px;
          &.center{
            text-align: center;
            left: 280px;
          }
          .first-title {
            color: #eee;
            font:lighter 14px/1 "helvetica-neue", sans-serif;
            text-transform: uppercase;
            line-height: 30px;
          }
          .second-title {
            color: #fff;
            font:italic lighter 50px/1 "helvetica-neue-condensed", sans-serif;
            text-transform: uppercase;
            line-height: 52px;
          }
          .description {
            color: #eee;
            font:lighter 10px/1;
            font-style: italic;
            margin: 10px 90px 10px 90px;
          }
          .click-title {
            color: #eee;
            font:lighter 14px/1;
            text-decoration: underline;
            text-transform: uppercase;
            font-style: italic;
          }
        }
      }
    } 
  }
}

*{
  -webkit-overflow-scrolling:touch;
}

#page01 {
  height: 640px;
}
#page02 {
  height: 860px;
}
#page03 {
  height: 640px;
}
#page04 {
  height: 640px;
}
#page05 {
  height: 640px;
}
#page06 {
  height: 968px;
}

.mobile body {
  overflow: hidden;

  #wrapper {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 100%;
  }
  #scroller {
    height: 5460px;
  }
}