.breadcrumb {
  color: #999;
  font: 11px/1 "helvetica-neue", sans-serif;
  margin-bottom: 40px;
  strong {
    color: #26282c;
    font-weight: bold;
  }
  .arrow {
    background: transparent;
    display: inline;
  }
}

.page-header {
  border-top: 1px solid #26282c;
  color: #26282c;
  margin-bottom: 50px;
  position: relative;
  h1 {
    border-top: 1px solid #e7e8e9;
    font: italic 300 40px/1 "helvetica-neue-condensed", sans-serif;
    padding-top: 10px;
    text-transform: uppercase;
  }
  .progress {
    background: transparent url(/images/progress.png) no-repeat 0 0;
    height: 40px;
    position: absolute;
    right: 0;
    top: 7px;
    width: 238px;
  }
}

.left-column {
  float: left;
  margin-bottom: 55px;
  width: 732px;
}
.right-column {
  float: right;
  width: 236px;
}

.room {
  background-color: #fff;
  margin-bottom: 10px;
  padding: 20px;
  h2 {
    color: #26282c;
    font: bold 14px/1 "helvetica-neue", sans-serif;
  }
  h3 {
    color: #26282c;
    font: bold 12px/18px "helvetica-neue", sans-serif;
  }
  .room-title {
    float: left;
  }
  .room-booking {
    float: right;
    .room-rate {
      color: #26282c;
      float: left;
      font: bold 24px/1 "helvetica-neue", sans-serif;
      margin-right: 20px;
      small {
        color: #888;
        display: block;
        font: italic normal 10px/16px "helvetica-neue", sans-serif;
      }
    }
    .button {
      float: right;
    }
  }
  .room-image {
    display: block;
    height: 230px;
    left: 0;
    position: absolute;
    top: 20px;
    width: 219px;
  }
  .room-details {
    clear: both;
    padding-top: 20px;
    position: relative;
    ul:not(.rates) {
      float: left;
      width: 225px;
      li:before {
        content: '•';
        margin-right: 5px;
      }
    }
  }
  .quick-details {
    margin-left: 238px;
    min-height: 230px;
    position: relative;
    a {
      bottom: 0;
      color: #8453aa;
      font: normal 12px/1 "helvetica-neue", sans-serif;
      position: absolute;
      text-decoration: none;
    }
    .arrow {
      background: transparent url(/images/icon.arrow.purple.png) no-repeat 0 0;
      display: inline-block;
      height: 9px;
      padding-right: 3px;
      overflow: hidden;
      text-indent: -9999px;
      vertical-align: text-bottom;
      width: 8px;
      -webkit-transform: rotate(-90deg) translate(4px,0);
    }
    .open .arrow {
      -webkit-transform: translate(0,-3px);
    }
  }
  .expanded-details {
    border-top: 1px solid #e8e9ec;
    margin-top: 20px;
    padding: 20px 0;
    .clearfix;
  }
  .rates li {
    background: #f5f6f7;
    border: 1px solid #eeeff0;
    border-radius: 2px;
    float: left;
    font: normal 12px/16px "helvetica-neue", sans-serif;
    height: 66px;
    margin-right: 5px;
    margin-bottom: 30px;
    padding-top: 12px;
    text-align: center;
    width: 92px;
    &:last-child {
      margin-right: 0;
    }
    &:first-child {
      margin-left: 2px;
    }
    * {
      display: block;
    }
    input {
      margin: 0 auto 8px;
    }
    .date {
      color: #8453aa;
      font-size: 18px;
      font-weight: normal;
      line-height: 1;
      margin-bottom: 2px;
    }
    .rate {
      color: #26282c;
      font-weight: bold;
    }
    &.selected {
      background: #e6e7eb;
      border-color: #dbdcdf;
      .date {
        font-weight: bold;
      }
    }
  }
  .column {
    float: left;
    margin-right: 20px;
    width: 215px;
    &:last-child {
      margin-right: 0;
    }
    h3 {
      margin-bottom: 20px;
    }
    .floor-plan {
      display: block;
      margin: 20px auto 0;
    }
  }
}

.receipt {
  font: normal normal 12px/16px "helvetica-neue", sans-serif;
  .status {
    background: #26282c;
    color: #fff;
    font-size: 12px;
    font-weight: bold;
    line-height: 24px;
    padding: 20px 15px 15px;
  }
  .property {
    background: transparent url(/images/icon.arrow.purple.png) no-repeat 100% 25%;
    font-size: 18px;
    font-weight: normal;
    line-height: 1;
    margin-bottom: 10px;
    text-transform: uppercase;
  }
  .subtotal {
    line-height: 26px;
    .estimate {
      font-size: 24px;
    }
    .currency {
      font-size: 16px;
    } 
  }
  .details {
    background: #fff;
    border: 1px solid #e6e6e6;
    padding: 15px 14px;
    h3 {
      color: #26282c;
      font-size: 12px;
      font-weight: bold;
      line-height: 18px;
      margin-bottom: 10px;
    }
    .reservation,
    .fare,
    .code,
    .total {
      .clearfix;
    }
    .reservation {
      .control {
        margin-left: 6px;
        margin-bottom: 10px;
        width: 49%;
        -webkit-box-sizing: border-box;
        &:nth-child(even) {
          margin-left: 0;
        }
      }
    }
    .fare {
      border-bottom: 1px solid #e8e9ec;
      border-top: 1px solid #e8e9ec;
      color: #26282c;
      margin: 5px 0;
      padding: 15px 0;
      dt {
        clear: right;
        float: left;
      }
      dd {
        float: right;
      }
    }
    .code {
      border-bottom: 1px solid #e8e9ec;
      color: #8453aa;
      line-height: 36px;
      margin-bottom: 5px;
      padding-bottom: 3px;
      text-align: right;
      .control {
        color: #a0a2a6;
        font-weight: normal;
        text-align: left;
        width: 40%;
      }
    }
    .total {
      color: #26282c;
      margin-bottom: 50px;
      padding-top: 10px;
      dt {
        font-weight: bold;
        float: left;
      }
      dd {
        float: right;
        font-size: 24px;
        font-weight: bold;
        small {
          font-size: 12px;
          font-weight: normal;
        }
        .arrow {
          margin-left: 5px;
        }
      }
    }
  }
}

.fine-print {
  font: italic 10px/18px "helvetica-neue", sans-serif;
  margin-top: 10px;
}

.other-options {
  background: #e6e7ed;
  clear: both;
  padding: 50px 0 150px;
  h2 {
    color: #26282c;
    font: italic 300 24px/1 "helvetica-neue-condensed", sans-serif;
    margin-bottom: 40px;
    text-transform: uppercase;
  }
  h3 {
    color: #26282c;
    font: italic normal 14px/1 "Georgia", serif;
    margin: 10px 0;
    text-decoration: underline;
    text-transform: uppercase;
  }
  img { 
    display: block;
  }
  p + p { 
    margin-top: 10px; 
  }
  a {
    color: #8453aa;
    font: italic normal 14px/1 "Georgia", serif;
    text-decoration: underline;
    text-transform: uppercase;
  }
  .property {
    float: left;
    margin-right: 15px;
    width: 236px;
  }
  .clearfix;
}
@media (min-width: 1200px) {
  .other-options {
    margin: 0 -90px;
    padding-left: 90px;
    padding-right: 90px;
  }
}

.button {
  background: #8453aa;
  border-radius: 2px;
  color: #fff;
  display: inline-block;
  font: italic normal 18px/1 "helvetica-neue-condensed", sans-serif;
  padding: 10px 25px 6px 21px;
  text-decoration: none;
  text-transform: uppercase;
  &.block {
    display: block;
    text-align: center;
  }
  &.disabled {
    background: #c8ccd0;
  }
}

.control {
  background: #f5f6f7;
  border: 1px solid #eeeff0;
  border-radius: 2px;
  color: #26282c;
  float: left;
  font: bold normal 11px/1 "helvetica-neue", sans-serif;
  padding: 12px 8px 9px;
  text-transform: uppercase;
  &.calendar {
    background-image: url(/images/icon.calendar.png);
    background-position: 94% 49%;
    background-repeat: no-repeat;
  }
  &.dropdown {
    background-image: url(/images/icon.arrow.purple.png);
    background-position: 90% 49%;
    background-repeat: no-repeat;
  }
  &.toggle {
    background-image: url(/images/icon.toggle.png);
    background-position: 50%;
    background-repeat: no-repeat;
    text-align: center;
  }
}

.arrow {
  background: transparent url(/images/icon.arrow.purple.png) no-repeat 0 0;
  display: inline-block;
  height: 9px;
  width: 8px;
}