.breadcrumb {
  color: #999;
  font: 11px/1 "helvetica-neue", sans-serif;
  margin-bottom: 40px;
  strong {
    color: #26282c;
    font-weight: bold;
  }
}

.page-header {
  border-top: 1px solid #26282c;
  color: #26282c;
  margin-bottom: 50px;
  position: relative;
  h1 {
    border-top: 1px solid #e7e8e9;
    font: italic normal 40px/1 "helvetica-neue-condensed", sans-serif;
    padding-top: 10px;
    text-transform: uppercase;
  }
  .progress {
    background: transparent url(/images/progress.png) no-repeat 0 0;
    height: 40px;
    position: absolute;
    right: 0;
    top: 7px;
    width: 238px;
  }
}

.left-column {
  float: left;
  width: 732px;
}
.right-column {
  float: right;
  width: 236px;
}

.room {
  background-color: #fff;
}