<!doctype html>
<html>
  <head>
    <title>Mondrian Soho</title>
    <meta name="viewport" content="width=1020">
    <link href="{{base}}styles/mondrian.css" rel="stylesheet">
  </head>
  <body>

    <div id="wrapper">

    <div id="header">
      <div class="navbar">
        <div class="inner">
          <h1 class="brand">Mondrian <span>Soho</span></h1>
         <nav class="nav">
            <ul>
              <li><a href="#">Explore</a></li>
              <li><a href="#">Location</a></li>
              <li><a href="#"><em>Reservations</em></a></li>
              <li><a href="#">Events</a></li>
              <li><a href="#">Back of House</a></li>
              <li><a href="#">Bang</a></li>
            </ul>
          </nav>
        </div>  
      </div> 
      <div class="utility-navbar">
        <ul class="inner">
          <li style="display: none;"><a href="#"><strong>Book Now</strong></a></li>
          <li><a href="#">My Account</a></li>
          <li><a href="#">English</a></li>
        </ul>
      </div>
    </div>

    <div id="body">
      <div class="inner" style="padding-top: 0;">

<!--         <div class="breadcrumb">
          Home <span class="arrow">→</span> <strong>Reservations</strong>
        </div>
 -->
<!--         <div class="page-header">
          <h1>Confirmation</h1>
          <div class="progress done"></div>
        </div>
 -->

          <div class="body-navbar booking">
            <ul class="nav">
              <li><a href="#gallery">Select</a></li>
              <li><a href="#description">Customize</a></li>
              <li><a href="#amenities">Details</a></li>
              <li><a href="#design" class="on">Done</a></li>
            </ul>
          </div>

        <div class="confirmation">
          <div class="message">
            <h2>It's On.</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua sed turpis e pluribus unum consectat.</p>
          </div>
          <div class="address">
            <h2>Mondrian Soho</h2>
            <p>9 Crosby Street<br>
            New York, NY 10013<br>
            +1 (212) 385-1000</p>
            <p><a href="#">Driving Directions</a></p>
          </div>
        </div>

        <div class="left-column">

          <div class="room" style="padding-bottom: 0;">
            <div class="actions"><a href="#"><span class="print"></span>Print</a> <a href="#"><span class="email"></span>Email</a> <a href="#"><span class="edit"></span>Change / Modify</a></div>
            <h2 class="room-title">Confirmation #395JXY</h2>
            <div class="room-summary">
              <img class="room-image" src="/images/superior-room-details.png"/>
              <div class="highlights">
              <h2>Superior Room</h2>
              <p><strong>Feb 8 - Feb 9, 2013</strong></p>
            </div>
              <div class="quick-details">
                <h3>Room Details</h3>
                <ul>
                  <li>One King Bed</li>
                  <li>One Queen Bed</li>
                  <li>City Views</li>
                  <li>High-Definition Plasma Television</li>
                </ul>
                <ul>
                  <li>Climate Control</li>
                  <li>Designer Toiletries</li>
                  <li>iPod Docking Station</li>
                  <li>Premium Egyptian Cotton Sheets</li>
                </ul>
                <a href="#"><span class="arrow">→</span> Additional Room Details</a>
              </div>
            </div>

            <h2 class="room-title" style="margin-top: 20px; padding-top: 20px; border-top: 1px solid #e8e9ec; float: none;">Amenities on Arrival</h2>
            <div style="padding-right: 265px; padding-bottom: 30px; border-bottom: 1px solid #e8e9ec;">
              <h3 style="margin: 30px 0 15px;">WiFi</h3>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip.</p>
              <h3 style="margin: 30px 0 15px;">Smartphone Key Card Access</h3>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip.</p>
            </div>

            <div class="bang amenities">
              <h2>Blow It Up</h2>
              <h3>Download Bang and get:</h3>
              <ul>
                <li>Exclusive Offers</li>
                <li>Mobile Check-In</li>
                <li>Keyless Room Entry &amp; More</li>
              </ul>
            </div>

            <div class="make-some-noise">
              <h2>Make Some Noise</h2>
            </div>

          </div>

        </div>

        <div class="right-column">

          <div class="receipt">
            <div class="details" style="border: 0;">
              <h2 style="font: normal bold 14px/1 helvetica-neue, sans-serif; margin-bottom: 30px;">Receipt</h2>
              <div class="reservation">
                <h3>Your Reservation</h3>
                <dl style="margin-bottom: 10px;">
                  <dt>2 Nights, 2 Adults</dt>
                  <dt>Check In: Fri Feb 8, 2013 @3:00pm</dt>
                  <dt>Check Out: Sat Feb 9, 2013 @11:00am</dt>
                </dl>
              </div>
              <div class="fare">
                <h3>Fare</h3>
                <dl>
                  <dt>Superior Room, Fri Feb 8</dt>
                  <dd>$339.00</dd>
                  <dt>Superior Room, Sat Feb 9</dt>
                  <dd>$339.00</dd>
                  <dt>WiFi</dt>
                  <dd>$0.00</dd>
                  <dt>Smartphone Key Card App</dt>
                  <dd>$0.00</dd>
                  <dt>Airport Pickup</dt>
                  <dd>$60.00</dd>
                  <dt>Taxes<span class="help"></span></dt>
                  <dd>$53.50</dd>
                </dl>
              </div>
              <div class="code">
                <dl>
                  <dt>Code Applied</dt>
                  <dd>- $50.00</dd>
                </dl>
              </div>
              <div class="total" style="border-bottom: 1px solid #e8e9ec; padding-bottom: 10px; padding-top: 15px; margin-bottom: 15px;">
                <dl>
                  <dt>Total</dt>
                  <dd>$741.50 <small>USD</small></dd>
                </dl>
              </div>
              <div class="payment" style="margin-bottom: 30px;">
                <h3>Payment Information</h3>
                <dl>
                  <dt>Cardholder</dt>
                  <dd>John Doe</dd>
                  <dt>Card Type</dt>
                  <dd>AMEX</dd>
                  <dt>Card Number</dt>
                  <dd>XXXX-XXXXXX-32000</dd>
                </dl>
              </div>
            </div>
          </div>

        </div>

      </div>
    </div>

    </div>

    <div id="footer">
      <div class="inner">

        <div class="property">
          <h2>Mondrian Soho <small>+1 (212) 555-1212</small></h2>
          <nav>
            <ul>
              <li><a href="#">Directions &amp; Maps</a></li>
              <li><a href="#">Contact Us</a></li>
              <li><a href="#">Careers</a></li>
            </ul>
          </nav>
          <div class="social"></div>
        </div>

        <div class="corporate">
          <div class="boilerplate">
            <h2>Morgans Hotel Group</h2>
            <p>At Morgans Hotel Group, we are the global leader and innovator of the lifestyle hospitality sector, dedicated to building a differentiated brand portfolio and establishing our properties in 24 hour urban and select resort markets. We create a vibe that encourages our guests, who we call the Creative Class, to live every moment more intensely.</p>
          </div>
          <div class="properties">
            <h2>Our Properties</h2>
            <ul>
              <li><a href="#">Hudson</a></li>
              <li><a href="#">Mondrian</a></li>
              <li><a href="#">Delano</a></li>
              <li><a href="#">Originals</a></li>
            </ul>
          </div>
          <div class="about">
            <h2>About Us</h2>
            <ul>
              <li><a href="#">About Us</a></li>
              <li><a href="#">Careers</a></li>
              <li><a href="#">Investor Information</a></li>
              <li><a href="#">Press Room</a></li>
              <li><a href="#">Travel Agents</a></li>
              <li><a href="#">Contact Us</a></li>
            </ul>
            <p>&copy; 2013 Morgans Hotel Group LLC</p>
          </div>
        </div>

        <div class="locations">
          <h2>Our Locations</h2>
        </div>

      </div>
    </div>

  <script type="text/javascript" src="/js/jquery.min.js"></script>
  <script type="text/javascript" src="/js/waypoints.min.js"></script>
  <script type="text/javascript" src="/js/waypoints-sticky.min.js"></script>
  <script type="text/javascript" src="/js/navbar.js"></script>
</body>
</html>