<!doctype html>
<html>
  <head>
    <meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0;" />
    <title>Delano South Beach</title>
    <link href="{{base}}styles/mondrian.css" rel="stylesheet">
    <link href="{{base}}styles/delano.css" rel="stylesheet">
  </head>
  <body>

  <div id="scroller">

    <div id="wrapper">

        <div id="header">
          <div class="navbar">
            <div class="inner">
              <h1 class="brand"><a href="#">Delano <span>South Beach</span></a></h1>
             <nav class="nav">
                <ul>
                  <li><a href="#">Explore</a></li>
                  <li><a href="#">Location</a></li>
                  <li><a href="#">Reservations</a></li>
                  <li><a href="#">Events</a></li>
                  <li><a href="#">Back of House</a></li>
                  <li><a href="#">Bang</a></li>
                </ul>
              </nav>
            </div>  
          </div> 
          <div class="utility-navbar">
            <ul class="inner">
              <li style="display: none;"><a href="#"><strong>Book Now</strong></a></li>
              <li><a href="#">My Account</a></li>
              <li><a href="#">English</a></li>
            </ul>
          </div>
        </div>

    <div id="booknow" class="top">
      <p id="nowBtn">&lt; BOOK NOW</p>
      <div id="bookmenu">
        <p>Dive In:</p>
        <div class="bookbtn"><p>02/08/2013<span></span></p></div>
        <div class="bookbtn"><p>02/08/2013<span></span></p></div>
        <div class="bookbtn black"><p>BOOK NOW<p></div>
      </div>
    </div>

        <div id="body">
          <div class="inner">
            <section>
              <div class="page" id="page01" data-page="1" style="background-image:url({{base}}images/delano_01.jpg); background-position: 0 -800px;" data-stellar-background-ratio="0.5">
                <!-- <img src="{{base}}images/homepage01_bg.jpg" class="page-bg" data-stellar-ratio="0.5"> -->
                <div class="page-titles" style="top:300px;">
                  <p class="first-title">Delano South Beach</p>
                  <p class="second-title">Find What<br>Lies Beneath</p>
                </div>
              </div>
              <div class="page" id="page02" data-page="2" style="background-color:#fff;">
                <div class="page-bg house" data-stellar-ratio="1">
                  <p class="page-grid-info">back of house</p>
                  <p class="page-grid-title">Delano says</p>
                  <div class="page-grid">
                    <div class="page-grid-item">
                      <p class="grid-item-info">party</p>
                      <img src="{{base}}images/delano_grid_01.jpg" class="grid-item-image">
                      <p class="grid-item-name">Gramps</p>
                      <p class="grid-item-description">Lorem ipsum dolor sit amet, consectetur adipisicing elit... <span>more</span></p>
                    </div>
                    <div class="page-grid-item">
                      <p class="grid-item-info">see</p>
                      <img src="{{base}}images/delano_grid_02.jpg" class="grid-item-image">
                      <p class="grid-item-name">James Bond Surf Rock Theme Song</p>
                      <p class="grid-item-description">Lorem ipsum dolor sit amet, consectetur adipisicing elit... <span>more</span></p>
                    </div>
                    <div class="page-grid-item">
                      <p class="grid-item-info">Shop</p>
                      <img src="{{base}}images/delano_grid_03.jpg" class="grid-item-image">
                      <p class="grid-item-name">Portable Loves: Modern Nostalgia</p>
                      <p class="grid-item-description">Lorem ipsum dolor sit amet, consectetur adipisicing elit... <span>more</span></p>
                    </div>
                    <div class="page-grid-item">
                      <p class="grid-item-info">eat</p>
                      <img src="{{base}}images/delano_grid_04.jpg" class="grid-item-image">
                      <p class="grid-item-name">Michael's Genuine</p>
                      <p class="grid-item-description">Lorem ipsum dolor sit amet, consectetur adipisicing elit... <span>more</span></p>
                    </div>
                    <div class="page-grid-item">
                      <p class="grid-item-info">hear</p>
                      <img src="{{base}}images/delano_grid_05.jpg" class="grid-item-image">
                      <p class="grid-item-name">Endless Summer Project</p>
                      <p class="grid-item-description">Lorem ipsum dolor sit amet, consectetur adipisicing elit... <span>more</span></p>
                    </div>
                    <div class="page-grid-item">
                      <p class="grid-item-info">eat</p>
                      <img src="{{base}}images/delano_grid_06.jpg" class="grid-item-image">
                      <p class="grid-item-name">Baoli Miami</p>
                      <p class="grid-item-description">Lorem ipsum dolor sit amet, consectetur adipisicing elit... <span>more</span></p>
                    </div>
                  </div>
                  <p class="page-grid-click">More from back of house</p>
                </div>
              </div>
              <div class="page" id="page03" data-page="3" style="background-image:url({{base}}images/delano_special.jpg);" data-stellar-background-ratio="0.5">
                <!-- <img src="{{base}}images/homepage03_bg.jpg" class="page-bg" data-stellar-ratio="0.5"> -->
                <div class="page-titles center">
                  <p class="first-title" style="color:#000;">winter offers</p>
                  <p class="second-title" style="color:#000;">white out</p>
                  <p class="description" style="color:#000;">Escape the winter blues for white sand beaches. Our exclusive winter packages give you everything and more for less.</p>
                  <a class="click-title" style="color:#000;">book now</a>
                </div>
              </div>
              <div class="page" id="page07" data-page="7">
                <div style="height:475px;overflow:hidden;">
                <video id="mondrian_video" src="{{base}}videos/delano1.mov" type="video/mov" width="1200px" height="675px" autoplay loop muted style="margin-top:-100px;"></video>
                </div>
              </div>
              <div class="page" id="page04" data-page="4" style="background-image:url({{base}}images/delano_2.jpg); background-position: 65% -700px;" data-stellar-background-ratio="0.5">
                <!-- <img src="{{base}}images/homepage04_bg.jpg" class="page-bg" data-stellar-ratio="0.5"> -->
                <div class="page-titles center">
                  <p class="first-title">rose bar</p>
                  <p class="second-title">go south</p>
                  <p class="description">Stop in to the Rose Bar for a little Southern hospitality<br>in the heart of South Beach.  </p>
                  <a class="click-title">reveal more</a>
                </div>
              </div>
              <div class="page" id="page05" data-page="5" style="background-image:url({{base}}images/delano_3.jpg); background-position: -200px 50px;" data-stellar-background-ratio="0.5">
                <!-- <img src="{{base}}images/homepage05_bg.jpg" class="page-bg" data-stellar-ratio="0.5"> -->
              </div>
              <div class="page" id="page06" data-page="6" style="background-image:url({{base}}images/delano_4.jpg); background-position: -120px -600px;" data-stellar-background-ratio="0.5">
                <!-- <img src="{{base}}images/homepage06_bg.jpg" class="page-bg" data-stellar-ratio="0.5"> -->
                <div class="page-titles center">
                  <p class="first-title" style="color: #000;">the space</p>
                  <p class="second-title" style="color: #000;">the return<br>of grand</p>
                  <p class="description" style="color: #000;">Never expected. Always original. Experience the ultimate <br>in world-class urban resort style.</p>
                  <a class="click-title" style="color: #000;">see our property</a>
                </div>
              </div>
            </section>
          </div>
        </div>

       </div>

       <div id="footer">
          <div class="inner">

            <div class="property">
              <h2>Delano South Beach <small>+1 (212) 555-1212</small></h2>
              <nav>
                <ul>
                  <li><a href="#">Directions &amp; Maps</a></li>
                  <li><a href="#">Contact Us</a></li>
                  <li><a href="#">Careers</a></li>
                </ul>
              </nav>
              <div class="social"></div>
            </div>

            <div class="corporate">
              <div class="boilerplate">
                <h2>Morgans Hotel Group</h2>
                <p>At Morgans Hotel Group, we are the global leader and innovator of the lifestyle hospitality sector, dedicated to building a differentiated brand portfolio and establishing our properties in 24 hour urban and select resort markets. We create a vibe that encourages our guests, who we call the Creative Class, to live every moment more intensely.</p>
              </div>
              <div class="properties">
                <h2>Our Properties</h2>
                <ul>
                  <li><a href="#">Hudson</a></li>
                  <li><a href="#">Mondrian</a></li>
                  <li><a href="#">Delano</a></li>
                  <li><a href="#">Originals</a></li>
                </ul>
              </div>
              <div class="about">
                <h2>About Us</h2>
                <ul>
                  <li><a href="#">About Us</a></li>
                  <li><a href="#">Careers</a></li>
                  <li><a href="#">Investor Information</a></li>
                  <li><a href="#">Press Room</a></li>
                  <li><a href="#">Travel Agents</a></li>
                  <li><a href="#">Contact Us</a></li>
                </ul>
                <p>&copy; 2013 Morgans Hotel Group LLC</p>
              </div>
            </div>

            <div class="locations">
              <h2>Our Locations</h2>
            </div>
          </div>
        </div>
    </div>

    <script src="{{base}}js/jquery.min.js"></script>
    <script src="{{base}}js/iscroll.js"></script>
    <script src="{{base}}js/waypoints.min.js"></script>
    <script type="text/javascript" src="/js/waypoints-sticky.min.js"></script>
    <script type="text/javascript" src="/js/navbar.js"></script>
    <script src="{{base}}js/stellar.js"></script>
    <script>
      (function(){
        var ua = navigator.userAgent,
          isMobileWebkit = /WebKit/.test(ua) && /Mobile/.test(ua);

        if (isMobileWebkit) {
          $('html').addClass('mobile');
        }

        $(function(){
          var iScrollInstance;

          if (isMobileWebkit) {
            iScrollInstance = new iScroll('wrapper', {
              onScrollStart: function() {
                if( !$("#booknow").hasClass('short') )
                {
                  hideBookMenu();
                }
              }
            });

            $('#scroller').stellar({
              scrollProperty: 'transform',
              positionProperty: 'transform',
              horizontalScrolling: false,
              verticalOffset: 0,
              parallaxBackgrounds: true,
              parallaxElements: true,
              hideDistantElements: false,
            });
            $("#page07").remove();

          } else {
            $.stellar({
              scrollProperty: 'scroll',
              positionPropert: 'position',
              horizontalScrolling: false,
              verticalOffset: 0,
              parallaxBackgrounds: true,
              parallaxElements: true,
              hideDistantElements: true,
            });
          }

          //Prevent text selection
          $(document).mousedown(function(e){
            e.preventDefault();
          });
        });

        function showBookMenu(){
          $("#booknow").removeClass('short').animate({width:'424px'},200);
          $("#nowBtn").hide();
          $("#bookmenu").fadeIn('fast');
        }

        function hideBookMenu(){
          $("#booknow").addClass('short').animate({width:'100px'},200);
          $("#bookmenu").hide();
          $("#nowBtn").fadeIn();
        }

        $("#booknow").bind('click', function(){
          if( $(this).hasClass('short') )
          {
            showBookMenu();
          }
        });

        $("#booknow").hover( function(){
          if( $("#booknow").hasClass('short') )
          {
            showBookMenu();
          }
        },function(){
          if( $("#booknow").hasClass('short') )
          {
            showBookMenu();
          } else {
            if ( !$('#booknow').hasClass('top') ) { hideBookMenu(); }
          }
        });

        $('#body').waypoint(function(direction) {
          $('#booknow').toggleClass('top');
          if( !$("#booknow").hasClass('short') )
          {
            hideBookMenu();
          } else {
            showBookMenu();
          }
        });

        function alignBookMenu(){
          var rightSpace = ($(window).width() - $("#body").width())/2;
          $("#booknow").css('right', rightSpace);
        }
        $(window).resize(function() {
          alignBookMenu();
        });
        alignBookMenu();

      })();

    </script>
  </body>
</html>