<!doctype html>
<html>
  <head>
    <title>Mondrian Soho</title>
    <meta name="viewport" content="width=1020">
    <link href="{{base}}styles/mondrian.css" rel="stylesheet">
  </head>
  <body>

    <div id="wrapper">

    <div id="header">
      <div class="navbar">
        <div class="inner">
          <h1 class="brand"><a href="/">Mondrian <span>Soho</span></a></h1>
         <nav class="nav">
            <ul>
              <li><a href="/room.html">Explore</a></li>
              <li><a href="#">Location</a></li>
              <li><a href="/reservation.html"><em>Reservations</em></a></li>
              <li><a href="#">Events</a></li>
              <li><a href="#">Back of House</a></li>
              <li><a href="#">Bang</a></li>
            </ul>
          </nav>
        </div>  
      </div> 
      <div class="utility-navbar">
        <ul class="inner">
          <li style="display: none;"><a href="#"><strong>Book Now</strong></a></li>
          <li><a href="#">My Account</a></li>
          <li><a href="#">English</a></li>
        </ul>
      </div>
    </div>

    <div id="body">
      <div class="inner" style="padding-top: 0;">

<!--         <div class="breadcrumb">
          Home <span class="arrow">→</span> <strong>Reservations</strong>
        </div>
 -->
<!--         <div class="page-header">
          <h1>Details</h1>
          <div class="progress details"></div>
        </div>
 -->
          <div class="body-navbar booking">
            <ul class="nav">
              <li><a href="/reservation.html">Select</a></li>
              <li><a href="/customize.html">Customize</a></li>
              <li><a href="/details.html" class="on">Details</a></li>
              <li><a href="/confirmation.html">Done</a></li>
            </ul>
          </div>

        <div class="left-column">

          <p class="secure">Secure enough for you?</p>

          <div class="block em">
            <div class="block-header">
              <div class="title">Save time &amp; book faster by <a href="#">signing in</a></div>
            </div>
          </div>

          <div class="block">
            <div class="block-header">
              <h2 class="title">Who's Traveling?</h2>
            </div>
            <div class="block-body">
              <ul class="form">
                <li class="field">
                  <label>*First Name</label>
                  <div class="control"></div>
                </li>
                <li class="field">
                  <label>*Last Name</label>
                  <div class="control"></div>
                </li>
                <li class="field clear">
                  <label>*Email Address</label>
                  <div class="control"></div>
                </li>
                <li class="field">
                  <label>Phone Number</label>
                  <div class="control"></div>
                </li>
              </ul>
            </div>
          </div>

          <div class="block">
            <div class="block-header">
              <h2 class="title">Who's Buying?</h2>
            </div>
            <div class="block-body">
              <ul class="form">
                <li class="field">
                  <label>*Cardholder Name</label>
                  <div class="control"></div>
                </li>
                <li class="field clear">
                  <label>*Card Number</label>
                  <div class="control quarter"></div>
                  <div class="control quarter"></div>
                  <div class="control quarter"></div>
                  <div class="control quarter"></div>
                </li>
                <li class="field quarter">
                  <label>*Expiration Date</label>
                  <div class="control third"></div>
                  <div class="control third"></div>
                </li>
                <li class="field quarter">
                  <label>*Card Id<span class="help"></span></label>
                  <div class="control third"></div>
                </li>
                <li class="field clear">
                  <label>*Billing Address</label>
                  <div class="control"></div>
                  <div class="control"></div>
                </li>
                <li class="field clear">
                  <label>*City</label>
                  <div class="control"></div>
                </li>
                <li class="field quarter">
                  <div class="group" style="width: 33%;">
                    <label>*State</label>
                    <div class="control dropdown">CA</div>
                  </div>
                  <div class="group" style="width: 65%;">
                    <label>*Postal Code</label>
                    <div class="control"></div>
                  </div>
                </li>
                <li class="field quarter">
                  <label>*Country</label>
                  <div class="control dropdown">United States</div>
                </li>
              </ul>
            </div>
          </div>

          <div class="block em">
            <div class="block-header">
              <h2 class="title">Why not create an account?</h2>
            </div>
            <div class="block-body">
              <ul class="form">
                <li class="field">
                  <label><input type="checkbox" checked> Use same email address as above</label>
                </li>
                <li class="field clear">
                  <label>Password</label>
                  <div class="control"></div>
                </li>
                <li class="field">
                  <label>Confirm Password</label>
                  <div class="control"></div>
                </li>
              </ul>
            </div>
            <div class="block-footer">
              <div class="form">
                <div class="field full right">
                  <label class="fine-print"><input type="checkbox"> I agree to the <a href="#">Terms &amp; Conditions</a></label>
                  <a class="button light" href="#">Sign In</a>
                </div>
              </div>
            </div>
          </div>

          <div class="block">
            <div class="block-footer">
              <div class="form">
                <div class="field full right">
                  <label class="fine-print"><input type="checkbox"> I agree to the <a href="#">Hotel Policy</a></label>
                  <a class="button quarter" href="#">Book Now</a>
                </div>
              </div>
            </div>
          </div>

        </div>

        <div class="right-column">

          <div class="receipt" data-toggle="sticky">
            <div class="status">
              <div class="property">Mondrian <span>Soho</span></div>
              <div class="subtotal">Subtotal for 2 Nights, 2 Adults<br/><strong class="estimate">$741.50</strong> <small class="currency">USD</small></div>
            </div>
            <div class="details">
              <div class="reservation">
                <h3>Your Reservation</h3>
                <div class="control calendar">02/08/2013</div>
                <div class="control toggle">2 nights</div>
                <div class="control dropdown">2 adults</div>
              </div>
              <div class="fare">
                <h3>Fare</h3>
                <dl>
                  <dt>Superior Room, Fri Feb 8</dt>
                  <dd>$339.00</dd>
                  <dt>Superior Room, Sat Feb 9</dt>
                  <dd>$339.00</dd>
                  <dt>WiFi</dt>
                  <dd>$0.00</dd>
                  <dt>Smartphone Key Card App</dt>
                  <dd>$0.00</dd>
                  <dt>Airport Pickup</dt>
                  <dd>$60.00</dd>
                  <dt>Taxes<span class="help"></span></dt>
                  <dd>$53.50</dd>
                </dl>
              </div>
              <div class="code">
                <dl>
                  <dt>Code Applied</dt>
                  <dd>- $50.00</dd>
                </dl>
              </div>
              <div class="total">
                <dl>
                  <dt>Total</dt>
                  <dd>$741.50 <small>USD</small><span class="arrow"></span></dd>
                </dl>
              </div>
              <a class="button block" href="/confirmation.html">Book Now</a>
            </div>
          </div>

          <div class="fine-print">Free Cancelation Until Feb 1</div>

        </div>

      </div>
    </div>

    </div>

    <div id="footer">
      <div class="inner">

        <div class="property">
          <h2>Mondrian Soho <small>+1 (212) 555-1212</small></h2>
          <nav>
            <ul>
              <li><a href="#">Directions &amp; Maps</a></li>
              <li><a href="#">Contact Us</a></li>
              <li><a href="#">Careers</a></li>
            </ul>
          </nav>
          <div class="social"></div>
        </div>

        <div class="corporate">
          <div class="boilerplate">
            <h2>Morgans Hotel Group</h2>
            <p>At Morgans Hotel Group, we are the global leader and innovator of the lifestyle hospitality sector, dedicated to building a differentiated brand portfolio and establishing our properties in 24 hour urban and select resort markets. We create a vibe that encourages our guests, who we call the Creative Class, to live every moment more intensely.</p>
          </div>
          <div class="properties">
            <h2>Our Properties</h2>
            <ul>
              <li><a href="#">Hudson</a></li>
              <li><a href="#">Mondrian</a></li>
              <li><a href="#">Delano</a></li>
              <li><a href="#">Originals</a></li>
            </ul>
          </div>
          <div class="about">
            <h2>About Us</h2>
            <ul>
              <li><a href="#">About Us</a></li>
              <li><a href="#">Careers</a></li>
              <li><a href="#">Investor Information</a></li>
              <li><a href="#">Press Room</a></li>
              <li><a href="#">Travel Agents</a></li>
              <li><a href="#">Contact Us</a></li>
            </ul>
            <p>&copy; 2013 Morgans Hotel Group LLC</p>
          </div>
        </div>

        <div class="locations">
          <h2>Our Locations</h2>
        </div>

      </div>
    </div>

  <script type="text/javascript" src="/js/jquery.min.js"></script>
  <script type="text/javascript" src="/js/waypoints.min.js"></script>
  <script type="text/javascript" src="/js/waypoints-sticky.min.js"></script>
  <script type="text/javascript" src="/js/navbar.js"></script>
</body>
</html>