<!doctype html>
<html>
  <head>
    <meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0;" />
    <title>Mondrian Soho</title>
    <link href="{{base}}styles/mondrian.css" rel="stylesheet">
    <link href="{{base}}styles/home.css" rel="stylesheet">
  </head>
  <body>

    <div id="wrapper">
      <div id="scroller">
        <div id="header">
          <div class="navbar">
            <div class="inner">
              <h1 class="brand">Mondrian <span>Soho</span></h1>
             <nav class="nav">
                <ul>
                  <li><a href="#">Explore</a></li>
                  <li><a href="#">Location</a></li>
                  <li><a href="#">Reservations</a></li>
                  <li><a href="#">Events</a></li>
                  <li><a href="#">The List</a></li>
                  <li><a href="#">Bang</a></li>
                </ul>
              </nav>
            </div>  
          </div> 
          <div class="utility-navbar">
            <ul class="inner">
              <li style="display: none;"><a href="#"><strong>Book Now</strong></a></li>
              <li><a href="#">My Account</a></li>
              <li><a href="#">English</a></li>
            </ul>
          </div>
        </div>

        <div id="body">
          <div class="inner">
            <section>
              <div class="page" id="page01" data-page="1" data-stellar-background-ratio="0.5">
              </div>
              <div class="page" id="page02" data-page="2" data-stellar-background-ratio="0.5">
              </div>
              <div class="page" id="page03" data-page="3" data-stellar-background-ratio="0.5">
              </div>
              <div class="page" id="page04" data-page="4" data-stellar-background-ratio="0.5">
              </div>
              <div class="page" id="page05" data-page="5" data-stellar-background-ratio="0.5">
              </div>
              <div class="page" id="page06" data-page="6" data-stellar-background-ratio="0.5">
              </div>
            </section>
          </div>
        </div>

        <div id="footer">
          <div class="inner">

            <div class="property">
              <h2>Mondrian Soho <small>+1 (212) 555-1212</small></h2>
              <nav>
                <ul>
                  <li><a href="#">Directions &amp; Maps</a></li>
                  <li><a href="#">Contact Us</a></li>
                  <li><a href="#">Careers</a></li>
                </ul>
              </nav>
              <div class="social"></div>
            </div>

            <div class="corporate">
              <div class="boilerplate">
                <h2>Morgans Hotel Group</h2>
                <p>At Morgans Hotel Group, we are the global leader and innovator of the lifestyle hospitality sector, dedicated to building a differentiated brand portfolio and establishing our properties in 24 hour urban and select resort markets. We create a vibe that encourages our guests, who we call the Creative Class, to live every moment more intensely.</p>
              </div>
              <div class="properties">
                <h2>Our Properties</h2>
                <ul>
                  <li><a href="#">Hudson</a></li>
                  <li><a href="#">Mondrian</a></li>
                  <li><a href="#">Delano</a></li>
                  <li><a href="#">Originals</a></li>
                </ul>
              </div>
              <div class="about">
                <h2>About Us</h2>
                <ul>
                  <li><a href="#">About Us</a></li>
                  <li><a href="#">Careers</a></li>
                  <li><a href="#">Investor Information</a></li>
                  <li><a href="#">Press Room</a></li>
                  <li><a href="#">Travel Agents</a></li>
                  <li><a href="#">Contact Us</a></li>
                </ul>
                <p>&copy; 2013 Morgans Hotel Group LLC</p>
              </div>
            </div>

            <div class="locations">
              <h2>Our Locations</h2>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script src="{{base}}js/jquery.min.js"></script>
    <script src="{{base}}js/iscroll.js"></script>
    <script src="{{base}}js/stellar.js"></script>
    <script>
      (function(){
        var ua = navigator.userAgent,
          isMobileWebkit = /WebKit/.test(ua) && /Mobile/.test(ua);

        if (isMobileWebkit) {
          $('html').addClass('mobile');
        }

        $(function(){
          var iScrollInstance;

          if (isMobileWebkit) {
            iScrollInstance = new iScroll('wrapper');

            $('#scroller').stellar({
              scrollProperty: 'transform',
              positionProperty: 'transform',
              horizontalScrolling: false,
              verticalOffset: 0,
              responsive: false,
            });
          } else {
            $.stellar({
              horizontalScrolling: false,
              verticalOffset: 0,
              responsive: false,
            });
          }
        });

      })();

    </script>
  </body>
</html>