<!doctype html>
<html>
  <head>
    <meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0;" />
    <title>Mondrian Soho</title>
    <link href="{{base}}styles/mondrian.css" rel="stylesheet">
    <link href="{{base}}styles/home.css" rel="stylesheet">
  </head>
  <body>

  <div id="scroller">

    <div id="wrapper">

        <div id="header">
          <div class="navbar">
            <div class="inner">
              <h1 class="brand"><a href="/">Mondrian <span>Soho</span></a></h1>
             <nav class="nav">
                <ul>
                  <li><a href="/room.html">Explore</a></li>
                  <li><a href="#">Location</a></li>
                  <li><a href="/reservation.html">Reservations</a></li>
                  <li><a href="#">Events</a></li>
                  <li><a href="#">Back of House</a></li>
                  <li><a href="#">Bang</a></li>
                </ul>
              </nav>
            </div>  
          </div> 
          <div class="utility-navbar">
            <ul class="inner">
              <li style="display: none;"><a href="#"><strong>Book Now</strong></a></li>
              <li><a href="#">My Account</a></li>
              <li><a href="#">English</a></li>
            </ul>
          </div>
        </div>

    <div id="booknow">
      <p id="nowBtn">&lt; BOOK NOW</p>
      <div id="bookmenu">
        <p>MAKE IT HAPPEN:</p>
        <div class="bookbtn"><p>02/08/2013<span></span></p></div>
        <div class="bookbtn"><p>02/08/2013<span></span></p></div>
        <div class="bookbtn black"><p>BOOK NOW<p></div>
      </div>
    </div>

        <div id="body">
          <div class="inner">
            <section>
              <div class="page" id="page01" data-page="1" style="background-image:url({{base}}images/homepage01_bg.jpg);" data-stellar-background-ratio="0.5">
                <!-- <img src="{{base}}images/homepage01_bg.jpg" class="page-bg" data-stellar-ratio="0.5"> -->
                <div class="page-titles">
                  <p class="first-title">MONDRIAN SoHo</p>
                  <p class="second-title">The scene<br>comes together</p>
                </div>
              </div>
              <div class="page" id="page02" data-page="2">
                <div class="page-bg house" data-stellar-ratio="1">
                  <p class="page-grid-info">back of house</p>
                  <p class="page-grid-title">Mondrian says</p>
                  <div class="page-grid">
                    <div class="page-grid-item">
                      <p class="grid-item-info">eat</p>
                      <img src="{{base}}images/mondrian_grid_01.jpg" class="grid-item-image">
                      <p class="grid-item-name">Chex Sardine</p>
                      <p class="grid-item-description">Lorem ipsum dolor sit amet, consectetur adipisicing elit... <span>more</span></p>
                    </div>
                    <div class="page-grid-item">
                      <p class="grid-item-info">see</p>
                      <img src="{{base}}images/mondrian_grid_02.jpg" class="grid-item-image">
                      <p class="grid-item-name">MAD Museum</p>
                      <p class="grid-item-description">Lorem ipsum dolor sit amet, consectetur adipisicing elit... <span>more</span></p>
                    </div>
                    <div class="page-grid-item">
                      <p class="grid-item-info">hear</p>
                      <img src="{{base}}images/mondrian_grid_03.jpg" class="grid-item-image">
                      <p class="grid-item-name">Kingston Hall</p>
                      <p class="grid-item-description">Lorem ipsum dolor sit amet, consectetur adipisicing elit... <span>more</span></p>
                    </div>
                    <div class="page-grid-item">
                      <p class="grid-item-info">eat</p>
                      <img src="{{base}}images/mondrian_grid_04.jpg" class="grid-item-image">
                      <p class="grid-item-name">Tomoka</p>
                      <p class="grid-item-description">Lorem ipsum dolor sit amet, consectetur adipisicing elit... <span>more</span></p>
                    </div>
                    <div class="page-grid-item">
                      <p class="grid-item-info">party</p>
                      <img src="{{base}}images/mondrian_grid_05.jpg" class="grid-item-image">
                      <p class="grid-item-name">Brooklyn Bowl</p>
                      <p class="grid-item-description">Lorem ipsum dolor sit amet, consectetur adipisicing elit... <span>more</span></p>
                    </div>
                    <div class="page-grid-item">
                      <p class="grid-item-info">see</p>
                      <img src="{{base}}images/mondrian_grid_06.jpg" class="grid-item-image">
                      <p class="grid-item-name">Turn Up the Vinyl with the Hipstones</p>
                      <p class="grid-item-description">Lorem ipsum dolor sit amet, consectetur adipisicing elit... <span>more</span></p>
                    </div>
                  </div>
                  <p class="page-grid-click">More from back of house</p>
                </div>
              </div>
              <div class="page" id="page03" data-page="3" style="background-image:url({{base}}images/homepage03_bg.jpg);" data-stellar-background-ratio="0.5">
                <!-- <img src="{{base}}images/homepage03_bg.jpg" class="page-bg" data-stellar-ratio="0.5"> -->
                <div class="page-titles center">
                  <p class="first-title">fashion week package</p>
                  <p class="second-title">The new black</p>
                  <p class="description" style="width:500px;">It goes with everything. This special offer includes an appointment with a stylist, shopping discounts, and transportation to all the action. Our exclusive partnership with Scoop NYC has all you need to survive #NYFW in style.</p>
                  <a class="click-title">book now</a>
                </div>
              </div>
              <div class="page" id="page07" data-page="7">
                <video id="mondrian_video" src="{{base}}videos/mondrian.mov" type="video/mov" width="1200px" height="675px" autoplay loop muted></video>
              </div>
              <div class="page" id="page04" data-page="4" style="background-image:url({{base}}images/homepage04_bg.jpg); background-position: 0 100px;" data-stellar-background-ratio="0.5">
                <!-- <img src="{{base}}images/homepage04_bg.jpg" class="page-bg" data-stellar-ratio="0.5"> -->
                <div class="page-titles center">
                  <p class="first-title">mister h news</p>
                  <p class="second-title">Exposure. hidden.</p>
                  <p class="description">Step out while staying in. Our very own <br>Mister H will be pouring the drinks. </p>
                  <a class="click-title">reveal more</a>
                </div>
              </div>
              <div class="page" id="page05" data-page="5" style="background-image:url({{base}}images/homepage05_bg.jpg); background-position: 0 -150px;" data-stellar-background-ratio="0.5">
                <!-- <img src="{{base}}images/homepage05_bg.jpg" class="page-bg" data-stellar-ratio="0.5"> -->
              </div>
              <div class="page" id="page06" data-page="6" style="background-image:url({{base}}images/homepage06_bg.jpg);" data-stellar-background-ratio="0.5">
                <img src="{{base}}images/tower.gif" class="page-bg" data-stellar-ratio="0.5" style="position: absolute; top: 124px; left: 656px; opacity: 0.6; width: 184px;">
                <!-- <img src="{{base}}images/homepage06_bg.jpg" class="page-bg" data-stellar-ratio="0.5"> -->
                <div class="page-titles center" style="left: auto; margin: 0 auto; position: relative;">
                  <p class="first-title">our rooms</p>
                  <p class="second-title">feel the city</p>
                  <p class="description" style="width:400px; margin: 0 auto 10px;">Floor-to-ceiling windows reveal unforgettable views of downtown from the heart of Soho. Take it all in.</p>
                  <a class="click-title">our chambers</a>
                </div>
              </div>
            </section>
          </div>
        </div>

       </div>

       <div id="footer">
          <div class="inner">

            <div class="property">
              <h2>Mondrian Soho <small>+1 (212) 555-1212</small></h2>
              <nav>
                <ul>
                  <li><a href="#">Directions &amp; Maps</a></li>
                  <li><a href="#">Contact Us</a></li>
                  <li><a href="#">Careers</a></li>
                </ul>
              </nav>
              <div class="social"></div>
            </div>

            <div class="corporate">
              <div class="boilerplate">
                <h2>Morgans Hotel Group</h2>
                <p>At Morgans Hotel Group, we are the global leader and innovator of the lifestyle hospitality sector, dedicated to building a differentiated brand portfolio and establishing our properties in 24 hour urban and select resort markets. We create a vibe that encourages our guests, who we call the Creative Class, to live every moment more intensely.</p>
              </div>
              <div class="properties">
                <h2>Our Properties</h2>
                <ul>
                  <li><a href="#">Hudson</a></li>
                  <li><a href="#">Mondrian</a></li>
                  <li><a href="#">Delano</a></li>
                  <li><a href="#">Originals</a></li>
                </ul>
              </div>
              <div class="about">
                <h2>About Us</h2>
                <ul>
                  <li><a href="#">About Us</a></li>
                  <li><a href="#">Careers</a></li>
                  <li><a href="#">Investor Information</a></li>
                  <li><a href="#">Press Room</a></li>
                  <li><a href="#">Travel Agents</a></li>
                  <li><a href="#">Contact Us</a></li>
                </ul>
                <p>&copy; 2013 Morgans Hotel Group LLC</p>
              </div>
            </div>

            <div class="locations">
              <h2>Our Locations</h2>
            </div>
          </div>
        </div>
    </div>

    <script src="{{base}}js/jquery.min.js"></script>
    <script src="{{base}}js/iscroll.js"></script>
    <script src="{{base}}js/waypoints.min.js"></script>
    <script type="text/javascript" src="/js/waypoints-sticky.min.js"></script>
    <script type="text/javascript" src="/js/navbar.js"></script>
    <script src="{{base}}js/stellar.js"></script>
    <script>
      (function(){
        var ua = navigator.userAgent,
          isMobileWebkit = /WebKit/.test(ua) && /Mobile/.test(ua);

        if (isMobileWebkit) {
          $('html').addClass('mobile');
        }

        $(function(){
          var iScrollInstance;

          if (isMobileWebkit) {
            iScrollInstance = new iScroll('wrapper', {
              onScrollStart: function() {
                if( !$("#booknow").hasClass('short') )
                {
                  hideBookMenu();
                }
              }
            });

            $('#scroller').stellar({
              scrollProperty: 'transform',
              positionProperty: 'transform',
              horizontalScrolling: false,
              verticalOffset: 0,
              parallaxBackgrounds: true,
              parallaxElements: true,
              hideDistantElements: false,
            });
            $("#page07").remove();

          } else {
            $.stellar({
              scrollProperty: 'scroll',
              positionPropert: 'position',
              horizontalScrolling: false,
              verticalOffset: 0,
              parallaxBackgrounds: true,
              parallaxElements: true,
              hideDistantElements: false,
            });
          }

          //Prevent text selection
          $(document).mousedown(function(e){
            e.preventDefault();
          });
        });

        function showBookMenu(){
          $("#booknow").removeClass('short').animate({width:'424px'}, 200);
          $("#nowBtn").hide();
          $("#bookmenu").fadeIn('fast');
        }

        function hideBookMenu(){
          $("#booknow").addClass('short').animate({width:'100px'}, 200);
          $("#bookmenu").hide();
          $("#nowBtn").fadeIn();
        }

        $("#booknow").bind('click', function(){
          if( $(this).hasClass('short') )
          {
            showBookMenu();
          }
        });

        $("#booknow").hover( function(){
          if( $("#booknow").hasClass('short') )
          {
            showBookMenu();
          }
        });

        $('#body').waypoint(function(direction) {
          if( !$("#booknow").hasClass('short') )
          {
            hideBookMenu();
          } else {
            showBookMenu();
          }
        });

        function alignBookMenu(){
          var rightSpace = ($(window).width() - $("#body").width())/2;
          $("#booknow").css('right', rightSpace);
        }
        $(window).resize(function() {
          alignBookMenu();
        });
        alignBookMenu();

      })();

    </script>
  </body>
</html>