<!doctype html>
<html>
  <head>
    <title>Mondrian Soho</title>
    <link href="{{base}}styles/mondrian.css" rel="stylesheet">
    <meta name="viewport" content="width=1020">
  </head>
  <body>

    <div id="wrapper">

    <div id="header">
      <div class="navbar">
        <div class="inner">
          <h1 class="brand"><a href="/">Mondrian <span>Soho</span></a></h1>
         <nav class="nav">
            <ul>
              <li><a href="/room.html">Explore</a></li>
              <li><a href="#">Location</a></li>
              <li><a href="/reservation.html"><em>Reservations</em></a></li>
              <li><a href="#">Events</a></li>
              <li><a href="#">Back of House</a></li>
              <li><a href="#">Bang</a></li>
            </ul>
          </nav>
        </div>  
      </div> 
      <div class="utility-navbar">
        <ul class="inner">
          <li style="display: none;"><a href="#"><strong>Book Now</strong></a></li>
          <li><a href="#">My Account</a></li>
          <li><a href="#">English</a></li>
        </ul>
      </div>
    </div>

    <div id="body">
      <div class="inner" style="padding-top: 0;">

<!--         <div class="breadcrumb">
          Home <span class="arrow">→</span> <strong>Reservations</strong>
        </div>
 -->
<!--         <div class="page-header">
          <h1>Select</h1>
          <div class="progress select"></div>
        </div>
 -->
          <div class="body-navbar booking">
            <ul class="nav">
              <li><a href="/reservation.html" class="on">Select</a></li>
              <li><a href="/customize.html">Customize</a></li>
              <li><a href="/details.html">Details</a></li>
              <li><a href="/confirmation.html">Done</a></li>
            </ul>
          </div>

        <div class="columns">

        <div class="left-column">

          <div class="room">
            <h2 class="room-title">Superior Room</h2>
            <div class="room-booking">
              <div class="room-rate">$339.00 <small>Average Nightly Rate</small></div>
              <a class="button" href="/customize.html">Book Now</a>
            </div>
            <div class="room-details">
              <img class="room-image" src="/images/superior-room-details.png"/>
              <div class="quick-details">
                <h3>Room Details</h3>
                <ul>
                  <li>One King Bed</li>
                  <li>One Queen Bed</li>
                  <li>City Views</li>
                  <li>High-Definition Plasma Television</li>
                </ul>
                <ul>
                  <li>Climate Control</li>
                  <li>Designer Toiletries</li>
                  <li>iPod Docking Station</li>
                  <li>Premium Egyptian Cotton Sheets</li>
                </ul>
                <a href=".expanded-details" data-toggle="collapse"><span class="arrow">→</span> Additional Room Details</a>
              </div>
              <div class="expanded-details collapse">
                <ul class="rates">
                  <li>
                    <input type="checkbox">
                    <strong class="date">2/5</strong>
                    <span class="rate">$359.00</span>
                  </li>
                  <li>
                    <input type="checkbox">
                    <strong class="date">2/6</strong>
                    <span class="rate">$359.00</span>
                  </li>
                  <li>
                    <input type="checkbox">
                    <strong class="date">2/7</strong>
                    <span class="rate">$359.00</span>
                  </li>
                  <li class="selected">
                    <input type="checkbox" checked>
                    <strong class="date">2/8</strong>
                    <span class="rate">$339.00</span>
                  </li>
                  <li class="selected">
                    <input type="checkbox" checked>
                    <strong class="date">2/9</strong>
                    <span class="rate">$339.00</span>
                  </li>
                  <li>
                    <input type="checkbox">
                    <strong class="date">2/10</strong>
                    <span class="rate">$319.00</span>
                  </li>
                  <li>
                    <input type="checkbox">
                    <strong class="date">2/11</strong>
                    <span class="rate">$319.00</span>
                  </li>
                </ul>
                <div class="column">
                  <img class="floor-plan" src="images/floor-plan-small.png">
                </div>
                <div class="column room-description">
                  <h3>Room Description</h3>
                  <p>Measuring 244 square feet (22 square meters), this room overlooks the city. Get a good night's sleep with premium bedding and Egyptian cotton linens. Bathroom amenities include designer toiletries and a hair dryer. Wireless Internet access (surcharge) keeps you connected, and the plasma television offers pay movies. Request an in-room massage. A minibar is provided. Climate control, a safe, and a multi-line phone are included. <em>This room is Non-Smoking.</em></p>
                </div>
                <div class="column additional-details">
                  <h3>Additional Details</h3>
                  <ul>
                    <li>Complimentary Newspaper</li>
                    <li>In-Room Massage Available</li>
                    <li>Multi-Line Phone</li>
                    <li>Daily Housekeeping</li>
                    <li>Pay Movies</li>
                    <li>Minibar</li>
                    <li>Voice Mail</li>
                    <li>Windows Open</li>
                    <li>Cable Television Service</li>
                    <li>Air Conditioning</li>
                    <li>Hair Dryer</li>
                    <li>In-Room Safe</li>
                    <li>Wake-Up Calls</li>
                  </ul>
                </div>
              </div>
            </div>
          </div>

          <div class="room">
            <h2 class="room-title">Deluxe Room</h2>
            <div class="room-booking">
              <div class="room-rate">$379.00 <small>Average Nightly Rate</small></div>
              <a class="button" href="#">Book Now</a>
            </div>
            <div class="room-details">
              <img class="room-image" src="/images/deluxe-room-details.png"/>
              <div class="quick-details">
                <h3>Room Details</h3>
                <ul>
                  <li>One King Bed</li>
                  <li>One Queen Bed</li>
                  <li>City Views</li>
                  <li>High-Definition Plasma Television</li>
                </ul>
                <ul>
                  <li>Climate Control</li>
                  <li>Designer Toiletries</li>
                  <li>iPod Docking Station</li>
                  <li>Premium Egyptian Cotton Sheets</li>
                </ul>
                <a href="#"><span class="arrow">→</span> Additional Room Details</a>
              </div>
            </div>
          </div>

          <div class="room">
            <h2 class="room-title">Deluxe Suite</h2>
            <div class="room-booking">
              <div class="room-rate">$409.00 <small>Average Nightly Rate</small></div>
              <a class="button" href="#">Book Now</a>
            </div>
            <div class="room-details">
              <img class="room-image" src="/images/deluxe-suite-details.png"/>
              <div class="quick-details">
                <h3>Room Details</h3>
                <ul>
                  <li>One King Bed</li>
                  <li>One Queen Bed</li>
                  <li>City Views</li>
                  <li>High-Definition Plasma Television</li>
                </ul>
                <ul>
                  <li>Climate Control</li>
                  <li>Designer Toiletries</li>
                  <li>iPod Docking Station</li>
                  <li>Premium Egyptian Cotton Sheets</li>
                </ul>
                <a href="#"><span class="arrow">→</span> Additional Room Details</a>
              </div>
            </div>
          </div>

        </div>

        <div class="right-column">

          <div class="receipt" data-toggle="sticky">
            <div class="status">
              <div class="property">Mondrian <span>Soho</span></div>
              <div class="subtotal">Subtotal for 2 Nights, 2 Adults<br/><strong class="estimate">$--.--</strong> <small class="currency">USD</small></div>
            </div>
            <div class="details">
              <div class="reservation">
                <h3>Your Reservation</h3>
                <div class="control calendar">02/08/2013</div>
                <div class="control toggle">2 nights</div>
                <div class="control dropdown">2 adults</div>
              </div>
              <div class="fare">
                <h3>Fare</h3>
                <dl>
                  <dt>Fri Feb 8</dt>
                  <dd>$--.--</dd>
                  <dt>Sat Feb 9</dt>
                  <dd>$--.--</dd>
                  <dt>Taxes<span class="help"></span></dt>
                  <dd>$--.--</dd>
                </dl>
              </div>
              <div class="code">
                <div class="control">ENTER CODE</div>
                <strong>Apply Code</strong>
              </div>
              <div class="total">
                <dl>
                  <dt>Total</dt>
                  <dd>$--.-- <small>USD</small><span class="arrow"></span></dd>
                </dl>
              </div>
              <!-- <a class="button block disabled" href="#">Continue</a> -->
            </div>
          </div>

          <!-- <div class="fine-print">Free Cancelation Until Feb 1</div> -->

        </div>

        </div>

        <div class="other-options">
          <h2>Also Available</h2>
          <div class="property">
            <img src="/images/hudson.png">
            <h3>Hudson Hotel</h3>
            <p>Lorem ipsum dolor sit amet felsar e pluribus unum consectat dolor e sed turpis.</p>
            <p><a href="#">See more</a></p>
          </div>
          <div class="property">
            <img src="/images/morgans.png">
            <h3>Morgans Hotel</h3>
            <p>Lorem ipsum dolor sit amet felsar e pluribus unum consectat dolor e sed turpis.</p>
            <p><a href="#">See more</a></p>
          </div>
          <div class="property">
            <img src="/images/royalton.png">
            <h3>Royalton Hotel</h3>
            <p>Lorem ipsum dolor sit amet felsar e pluribus unum consectat dolor e sed turpis.</p>
            <p><a href="#">See more</a></p>
          </div>
        </div>

      </div>
    </div>

    </div>

    <div id="footer">
      <div class="inner">

        <div class="property">
          <h2>Mondrian Soho <small>+1 (212) 555-1212</small></h2>
          <nav>
            <ul>
              <li><a href="#">Directions &amp; Maps</a></li>
              <li><a href="#">Contact Us</a></li>
              <li><a href="#">Careers</a></li>
            </ul>
          </nav>
          <div class="social"></div>
        </div>

        <div class="corporate">
          <div class="boilerplate">
            <h2>Morgans Hotel Group</h2>
            <p>At Morgans Hotel Group, we are the global leader and innovator of the lifestyle hospitality sector, dedicated to building a differentiated brand portfolio and establishing our properties in 24 hour urban and select resort markets. We create a vibe that encourages our guests, who we call the Creative Class, to live every moment more intensely.</p>
          </div>
          <div class="properties">
            <h2>Our Properties</h2>
            <ul>
              <li><a href="#">Hudson</a></li>
              <li><a href="#">Mondrian</a></li>
              <li><a href="#">Delano</a></li>
              <li><a href="#">Originals</a></li>
            </ul>
          </div>
          <div class="about">
            <h2>About Us</h2>
            <ul>
              <li><a href="#">About Us</a></li>
              <li><a href="#">Careers</a></li>
              <li><a href="#">Investor Information</a></li>
              <li><a href="#">Press Room</a></li>
              <li><a href="#">Travel Agents</a></li>
              <li><a href="#">Contact Us</a></li>
            </ul>
            <p>&copy; 2013 Morgans Hotel Group LLC</p>
          </div>
        </div>

        <div class="locations">
          <h2>Our Locations</h2>
        </div>

      </div>
    </div>

  <script type="text/javascript" src="/js/jquery.min.js"></script>
  <script type="text/javascript" src="/js/waypoints.min.js"></script>
  <script type="text/javascript" src="/js/waypoints-sticky.min.js"></script>
  <script type="text/javascript" src="/js/navbar.js"></script>
  </body>
</html>