<!doctype html>
<html>
  <head>
    <title>Mondrian Soho</title>
    <link href="{{base}}styles/mondrian.css" rel="stylesheet">
  </head>
  <body>

    <div id="header">
      <div class="inner">
        <h1 class="brand">Mondrian <span>Soho</span></h1>
        <nav class="primary-nav">
          <ul>
            <li><a href="#">Explore</a></li>
            <li><a href="#">Location</a></li>
            <li><a href="#"><em>Reservations</em></a></li>
            <li><a href="#">Events</a></li>
            <li><a href="#">The List</a></li>
            <li><a href="#">Bang</a></li>
          </ul>
        </nav>
        <ul class="utility-nav">
          <li><a href="#"><strong>Book Now</strong></a></li>
          <li><a href="#">My Account</a></li>
          <li><a href="#">English</a></li>
        </ul>
      </div>
    </div>

    <div id="body">
      <div class="inner">

      </div>
    </div>

    <div id="footer">
      <div class="inner">

        <div class="property">
          <h2>Mondrian Soho <small>+1 (212) 555-1212</small></h2>
          <nav>
            <ul>
              <li><a href="#">Directions &amp; Maps</a></li>
              <li><a href="#">Contact Us</a></li>
              <li><a href="#">Careers</a></li>
            </ul>
          </nav>
          <div class="social"></div>
        </div>

        <div class="corporate">
          <div class="boilerplate">
            <h2>Morgans Hotel Group</h2>
            <p>At Morgans Hotel Group, we are the global leader and innovator of the lifestyle hospitality sector, dedicated to building a differentiated brand portfolio and establishing our properties in 24 hour urban and select resort markets. We create a vibe that encourages our guests, who we call the Creative Class, to live every moment more intensely.</p>
          </div>
          <div class="properties">
            <h2>Our Properties</h2>
            <ul>
              <li><a href="#">Hudson</a></li>
              <li><a href="#">Mondrian</a></li>
              <li><a href="#">Delano</a></li>
              <li><a href="#">Originals</a></li>
            </ul>
          </div>
          <div class="about">
            <h2>About Us</h2>
            <ul>
              <li><a href="#">About Us</a></li>
              <li><a href="#">Careers</a></li>
              <li><a href="#">Investor Information</a></li>
              <li><a href="#">Press Room</a></li>
              <li><a href="#">Travel Agents</a></li>
              <li><a href="#">Contact Us</a></li>
            </ul>
            <p>&copy; 2013 Morgans Hotel Group LLC</p>
          </div>
        </div>

      </div>
    </div>

  </body>
</html>