<!doctype html>
<html>
  <head>
    <title>Mondrian Soho</title>
    <link href="{{base}}styles/mondrian.css" rel="stylesheet">
    <meta name="viewport" content="width=1020">
  </head>
  <body>

    <div id="wrapper">

      <div id="header">
        <div class="navbar">
          <div class="inner">
            <h1 class="brand">Mondrian <span>Soho</span></h1>
           <nav class="nav">
              <ul>
                <li><a href="#"><em>Explore</em></a></li>
                <li><a href="#">Location</a></li>
                <li><a href="#">Reservations</a></li>
                <li><a href="#">Events</a></li>
                <li><a href="#">Back of House</a></li>
                <li><a href="#">Bang</a></li>
              </ul>
            </nav>
          </div>  
        </div> 
        <div class="utility-navbar">
          <ul class="inner">
            <li style="display: none;"><a href="#"><strong>Book Now</strong></a></li>
            <li><a href="#">My Account</a></li>
            <li><a href="#">English</a></li>
          </ul>
        </div>
      </div>

      <div id="body">
        <div class="inner" style="padding-top: 0;">
          
          <div class="carousel" id="gallery">
            <div class="inner">
              <div class="slide" style="background-image: url(/images/1.jpg);">
                <div style="color: #fff; padding-top: 290px; text-align: center;">
                  <div style="font: normal 20px/50px helvetica-neue,sans-serif; text-transform: uppercase;">Our Rooms</div>
                  <div style="font: italic normal 100px/90px helvetica-neue-condensed, sans-serif; margin-bottom: 10px; text-transform: uppercase;">Deluxe</div>
                </div>
              </div>
              <div class="slide">
                <img src="/images/2.jpg">
              </div>
              <div class="slide">
                <img src="/images/3.jpg">
              </div>
              <div class="slide">
                <img src="/images/4.jpg">
              </div>
              <div class="slide">
                <img src="/images/5.jpg">
              </div>
              <div class="slide">
                <img src="/images/6.jpg">
              </div>
            </div>
          </div>
          
          <div class="body-navbar">
            <ul class="nav">
              <li><a href="#gallery" class="on">Gallery</a></li>
              <li><a href="#description">Description</a></li>
              <li><a href="#amenities">Amenities</a></li>
              <li><a href="#design">Design</a></li>
              <li><a href="#offers">Offers</a></li>
            </ul>
          </div>

          <div style="padding: 150px 0; text-align: center;">
            <div style="color: #26282c; font: normal 20px/40px helvetica-neue,sans-serif; text-transform: uppercase;">Deluxe Room</div>
            <div style="color: #26282c; font: italic normal 50px/50px helvetica-neue-condensed, sans-serif; text-transform: uppercase;">The High Life</div>
            <p style="font-size: 14px; line-height: 26px; margin-top: 10px;">Lorem ipsum dolor sit amet, consectetur adipisicing elit,<br>eiusmod tempor dolor e pluribus unum consectat dolor.</p>
          </div>

          <div style="margin: 0 -110px; height: 800px; overflow: hidden; position: relative;">
            <img src="/images/image1.png" style="height: 800px; position: absolute; left: -110px; width: 1400px;">
          </div>

          <div style="padding: 100px 0;">
            <h2 style="color: #26282c; font: normal 20px/1 helvetica-neue, sans-serif; margin-bottom: 30px; text-transform: uppercase;">Keep it Unreal</h2>
            <p style="font-size: 14px; line-height: 26px; width: 515px;">Inspired by Jean Cocteau’s 1946 film “La Belle et la Bete”, Mondrian SoHo evokes a provocative fantasy that translates to every detail of the guest rooms. Created by Benjamin Noriega-Ortiz, the seductive experience begins from the Crosby Street entrance of the hotel and continues throughout the hotel. The corridors leading to the “Sleeping Chambers” feature a grand carpet with a custom, rose vine design, large antique mirrors and crystal sconces. Upon opening the door to the guest room, you will find yourself in an elegant foyer-entrance with rich marble floors, leading to the bright, loft-like space. These “Sleeping Chambers” are appointed with a custom built-in chrome desk, facing the city skyline. <i>All guest rooms at Mondrian are non-smoking rooms.</i></p>
          </div>

          <div style="background: transparent url(/images/sleep-in-a-dream.png) no-repeat 0 0; color: #fff; height: 1480px; margin: -360px -110px 0; padding-top: 665px; text-align: center; text-transform: uppercase; -webkit-box-sizing: border-box;">
            <div style="font: normal 20px/40px helvetica-neue,sans-serif;">sleep in Soho</div>
            <div style="font: italic normal 50px/50px helvetica-neue-condensed, sans-serif;">Wake Up in a dream</div>
          </div>

          <div style="background: transparent url(/images/floor-plan.png) no-repeat 95% 0; margin: -220px 0 150px 60px; padding-top: 200px;">
            <div style="float: left; width: 260px;">
              <div style="color: #26282c; font: normal 20px/1 helvetica-neue,sans-serif; margin-bottom: 20px; text-transform: uppercase;">Unique Features</div>
              <ul style="font-size: 14px; line-height: 26px; margin-bottom: 50px;">
                <li>356-400 SQ. FT.</li>
                <li>Floor to Ceiling Windows </li>
                <li>Marble Spa Bathroom </li>
                <li>Two Double Beds </li>
              </ul>
              <div style="color: #26282c; font: normal 20px/1 helvetica-neue,sans-serif; margin-bottom: 20px; text-transform: uppercase;">Extras</div>
              <ul style="font-size: 14px; line-height: 26px;">
                <li>Fitness Center</li>
                <li>In-Room Spa Services</li>
                <li>Room Service</li>
                <li>On-Site Valet Parking</li>
                <li>Limousine Service</li>
              </ul>
            </div>
            <div>
              <div style="color: #26282c; font: normal 20px/1 helvetica-neue,sans-serif; margin-bottom: 20px; text-transform: uppercase;">Amenities</div>
              <ul style="font-size: 14px; line-height: 26px;">
                <li>Down Bedding</li>
                <li>LCD HDTV</li>
                <li>iPod Docking Station</li>
                <li>iPad in Every Room</li>
              </ul>
            </div>
            <div style="clear:both;"></div>
          </div>

          <div style="background: transparent url(/images/equinox.png) no-repeat 0 0; color: #fff; margin: 0 -110px; height: 800px; overflow: hidden; padding-top: 365px; text-align: center; -webkit-box-sizing: border-box;">
            <div style="font: normal 20px/40px helvetica-neue,sans-serif; text-transform: uppercase;">Deluxe Fitness</div>
            <div style="font: italic normal 50px/50px helvetica-neue-condensed, sans-serif; margin-bottom: 10px; text-transform: uppercase;">Equinox VIP Access</div>
            <p style="font-size: 14px;"><i>Lorem ipsum dolor sit amet, consectetur adipisicing elit,<br>eiusmod tempor dolor e pluribus unum consectat dolor.</i></p>
          </div>

        </div>
      </div>

    </div>

    <div id="footer">
      <div class="inner">

        <div class="property">
          <h2>Mondrian Soho <small>+1 (212) 555-1212</small></h2>
          <nav>
            <ul>
              <li><a href="#">Directions &amp; Maps</a></li>
              <li><a href="#">Contact Us</a></li>
              <li><a href="#">Careers</a></li>
            </ul>
          </nav>
          <div class="social"></div>
        </div>

        <div class="corporate">
          <div class="boilerplate">
            <h2>Morgans Hotel Group</h2>
            <p>At Morgans Hotel Group, we are the global leader and innovator of the lifestyle hospitality sector, dedicated to building a differentiated brand portfolio and establishing our properties in 24 hour urban and select resort markets. We create a vibe that encourages our guests, who we call the Creative Class, to live every moment more intensely.</p>
          </div>
          <div class="properties">
            <h2>Our Properties</h2>
            <ul>
              <li><a href="#">Hudson</a></li>
              <li><a href="#">Mondrian</a></li>
              <li><a href="#">Delano</a></li>
              <li><a href="#">Originals</a></li>
            </ul>
          </div>
          <div class="about">
            <h2>About Us</h2>
            <ul>
              <li><a href="#">About Us</a></li>
              <li><a href="#">Careers</a></li>
              <li><a href="#">Investor Information</a></li>
              <li><a href="#">Press Room</a></li>
              <li><a href="#">Travel Agents</a></li>
              <li><a href="#">Contact Us</a></li>
            </ul>
            <p>&copy; 2013 Morgans Hotel Group LLC</p>
          </div>
        </div>

        <div class="locations">
          <h2>Our Locations</h2>
        </div>

      </div>
    </div>

  <script type="text/javascript" src="/js/jquery.min.js"></script>
  <script type="text/javascript" src="/js/waypoints.min.js"></script>
  <script type="text/javascript" src="/js/waypoints-sticky.min.js"></script>
  <script type="text/javascript" src="/js/navbar.js"></script>
  </body>
</html>