#footer {
  margin-top: 0px;
}
#body .inner {
  position: relative;
}
#body .inner section {
  position: relative;
  top: 0px;
  width: 100%;
  height: 4000px;
  margin: 0;
}
.mobile body {
  overflow: hidden;
}
.mobile body #wrapper {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 100%;
}
.mobile body #scroller {
  height: 8000px;
}
