#footer {
  margin-top: 0px;
}
#body .inner {
  position: relative;
}
#body .inner section {
  position: relative;
  top: 200px;
  width: 300px;
  height: 600px;
  margin: 0 auto;
}
#body .inner section .pixel {
  position: absolute;
  width: 15px;
  height: 15px;
  border-radius: 15px;
  background: black;
}
#body .inner section .pixel:nth-child(2) {
  left: 30px;
}
#body .inner section .pixel:nth-child(3) {
  left: 60px;
}
#body .inner section .pixel:nth-child(4) {
  left: 90px;
}
#body .inner section .pixel:nth-child(5) {
  left: 120px;
}
#body .inner section .pixel:nth-child(6) {
  left: 150px;
}
#body .inner section .pixel:nth-child(7) {
  left: 180px;
}
#body .inner section .pixel:nth-child(8) {
  left: 210px;
}
#body .inner section .pixel:nth-child(9) {
  left: 240px;
}
#body .inner section .pixel:nth-child(10) {
  left: 270px;
}
.mobile #body .inner {
  overflow: hidden;
}
.mobile #body .inner #wrapper {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 100%;
}
.mobile #body .inner .mobile #scroller {
  height: 800px;
}
