#footer {
  margin-top: 0px;
}
#body {
  width: 1200px;
  padding: 0;
}
#body .inner {
  position: relative;
  width: 100%;
  padding: 0;
  margin: 0;
}
#body .inner section {
  position: relative;
  top: 0px;
  width: 100%;
  height: 7575px;
  margin: 0;
}
#body .inner section .page {
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: 0;
  background-attachment: fixed;
  width: 100%;
  overflow: hidden;
  position: relative;
}
#body .inner section .page .page-bg {
  position: absolute;
}
#body .inner section .page .page-bg.house {
  width: 100%;
  height: 1060px;
  background: #26282c;
}
#body .inner section .page .page-grid-info {
  color: #eee;
  margin-top: 70px;
  text-align: center;
  font: normal 20px/1 "helvetica-neue", sans-serif;
  margin-bottom: 15px;
  text-transform: uppercase;
}
#body .inner section .page .page-grid-title {
  color: #fff;
  text-align: center;
  font: italic normal 45px/1 "helvetica-neue-condensed", sans-serif;
  text-transform: uppercase;
}
#body .inner section .page .page-grid-click {
  clear: both;
  color: #eee;
  text-transform: uppercase;
  text-decoration: underline;
  text-align: center;
  font-size: 14px;
  font-style: italic;
  padding-top: 20px;
}
#body .inner section .page .page-grid {
  color: #fff;
  width: 981px;
  margin: 50px auto;
}
#body .inner section .page .page-grid .page-grid-item {
  float: left;
  margin-bottom: 50px;
}
#body .inner section .page .page-grid .page-grid-item .grid-item-info {
  text-transform: uppercase;
  font-size: 18px;
  line-height: 24px;
  font-style: italic;
  margin-bottom: 3px;
}
#body .inner section .page .page-grid .page-grid-item .grid-item-name {
  line-height: 20px;
  margin-bottom: 3px;
  font-size: 14px;
  font-style: italic;
}
#body .inner section .page .page-grid .page-grid-item .grid-item-description {
  font-size: 11px;
  line-height: 16px;
  width: 240px;
  color: #888;
}
#body .inner section .page .page-grid .page-grid-item .grid-item-description span {
  color: #eee;
  text-decoration: underline;
  text-transform: uppercase;
  font-style: italic;
}
#body .inner section .page .page-titles {
  position: absolute;
  top: 200px;
  left: 150px;
}
#body .inner section .page .page-titles.center {
  text-align: center;
  left: 375px;
}
#body .inner section .page .page-titles .first-title {
  color: #fff;
  font: normal 20px/1 "helvetica-neue", sans-serif;
  margin-bottom: 15px;
  text-transform: uppercase;
}
#body .inner section .page .page-titles .second-title {
  color: #fff;
  font: italic normal 65px/1 "helvetica-neue-condensed", sans-serif;
  margin-bottom: 15px;
  margin-left: -5px;
  text-transform: uppercase;
}
#body .inner section .page .page-titles .description {
  color: #fff;
  font-size: 14px;
  font-style: italic;
  line-height: 20px;
  margin-bottom: 10px;
}
#body .inner section .page .page-titles .click-title {
  color: #fff;
  font-size: 14px;
  text-decoration: underline;
  text-transform: uppercase;
  font-style: italic;
  font-weight: normal;
}
* {
  -webkit-overflow-scrolling: touch;
}
#page01 {
  height: 880px;
}
#page02 {
  height: 1060px;
}
#page03 {
  height: 840px;
}
#page04 {
  height: 1020px;
}
#page05 {
  height: 940px;
}
#page06 {
  height: 968px;
}
#page07 {
  height: 675px;
}
.mobile body {
  overflow: hidden;
}
.mobile body #body {
  width: 1024px;
}
.mobile body #body .inner section {
  height: 5453px;
}
.mobile body #body .inner section .page .page-titles {
  top: 180px;
  left: 120px;
}
.mobile body #body .inner section .page .page-titles.center {
  left: 287px;
}
.mobile body #body .inner section .page > img {
  margin-left: -88px;
}
.mobile body #wrapper {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 100%;
}
.mobile body #scroller {
  height: 6640px;
}
