@font-face {
  font-family: "helvetica-neue";
  src: url("/fonts/HelveticaNeueLTCom-Lt.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "helvetica-neue";
  src: url("/fonts/HelveticaNeueLTCom-UltLt.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: "helvetica-neue";
  src: url("/fonts/HelveticaNeueLTCom-Bd.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "helvetica-neue-condensed";
  src: url("/fonts/HelveticaNeueLTCom-Cn.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "helvetica-neue-condensed";
  src: url("/fonts/HelveticaNeueLTCom-CnO.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: "helvetica-neue-condensed";
  src: url("/fonts/HelveticaNeueLTCom-LtCn.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "helvetica-neue-condensed";
  src: url("/fonts/HelveticaNeueLTCom-LtCnO.ttf") format("truetype");
  font-weight: 300;
  font-style: italic;
}
@font-face {
  font-family: "helvetica-neue-condensed";
  src: url("/fonts/HelveticaNeueLTCom-ThCn.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: "helvetica-neue-condensed";
  src: url("/fonts/HelveticaNeueLTCom-ThCnO.ttf") format("truetype");
  font-weight: 100;
  font-style: italic;
}
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  background: #5b5d65;
  color: #888;
  font: 12px/18px "Georgia", serif;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
.inner {
  margin: 0 auto;
  padding: 0 20px;
  width: 980px;
}
#wrapper {
  position: relative;
}
#header {
  background: #fff;
  color: #26282c;
  font: 12px/20px "helvetica-neue", sans-serif;
  height: 60px;
  padding-top: 60px;
  text-transform: uppercase;
}
#header .inner {
  position: relative;
}
#header li {
  display: inline-block;
  margin-left: 30px;
}
#header a {
  color: #999;
  text-decoration: none;
}
#header a em {
  color: #26282c;
}
.navbar {
  background: #fff;
  height: 60px;
  width: 100%;
  z-index: 3;
}
.navbar.stuck {
  left: 0;
  position: fixed;
  top: 0;
}
.navbar.bottom {
  bottom: 0;
  position: absolute;
  top: auto;
}
.navbar .inner {
  padding-top: 22px;
}
.brand {
  float: left;
  font-weight: normal;
  font-size: 20px;
  line-height: 1;
  margin: 0;
}
.brand span {
  background: transparent url(/images/world.png) no-repeat 100% -1px;
  font-weight: 100;
  padding-right: 35px;
}
.nav {
  float: right;
}
.utility-navbar {
  font-size: 10px;
  text-align: right;
}
.utility-navbar .inner {
  position: absolute;
  right: 0;
  top: -95px;
}
.utility-navbar li {
  margin-left: 20px !important;
}
.utility-navbar li:not(:first-child) a {
  background: transparent url(/images/icon.arrow.down.png) no-repeat 100% -1px;
  padding-right: 10px;
}
.utility-navbar strong {
  color: #26282c;
  font-weight: bold;
}
#footer {
  background: #26282c;
  margin-top: 64px;
  padding: 90px 0 60px;
}
#footer .corporate:after,
#footer .property:after {
  clear: both;
  content: '.';
  display: block;
  height: 0;
  overflow: hidden;
  visibility: hidden;
}
#footer h2 {
  color: #fff;
  font: normal 20px/1 "helvetica-neue", sans-serif;
  text-transform: uppercase;
}
#footer a {
  color: #fff;
  font: 10px/1 Arial, sans-serif;
  text-decoration: none;
}
.corporate {
  border-top: 1px solid #575961;
  margin-top: 28px;
  padding-top: 40px;
}
.corporate h2,
.locations h2 {
  margin-bottom: 30px;
}
.corporate .boilerplate p {
  font-style: italic;
  margin-right: 62px;
}
.corporate .properties li {
  margin-bottom: 10px;
}
.corporate .properties a {
  font: italic 14px/1 "Georgia", serif !important;
  text-decoration: underline !important;
  text-transform: uppercase;
}
.corporate .about li {
  margin-bottom: 8px;
}
.corporate .about p {
  color: #5b5d65;
  font: 10px/1 Arial, sans-serif;
  margin-top: 12px;
}
.property nav,
.property ul,
.property li {
  display: inline-block;
}
.property li {
  margin-right: 10px;
}
.property .social {
  background: transparent url(/images/social.png) no-repeat 0 0;
  height: 30px;
  margin-top: -5px;
  width: 170px;
}
.property h2,
.corporate .boilerplate {
  float: left;
  width: 484px;
}
.property h2 small {
  color: #5b5d65;
  font: normal 20px/1 "helvetica-neue", sans-serif;
  margin-left: 10px;
}
.property .social,
.corporate .about {
  float: left;
  margin-left: 12px;
  width: 174px;
}
.property nav,
.corporate .properties {
  float: left;
  margin-left: 12px;
  width: 236px;
}
.locations {
  background: transparent url(/images/locations-map.png) no-repeat 0 100%;
  clear: both;
  margin-top: 50px;
  padding-bottom: 508px;
}
#body {
  background: #f5f6f7;
}
#body .inner {
  padding-top: 40px;
}
#body:after {
  clear: both;
  content: '.';
  display: block;
  height: 0;
  overflow: hidden;
  visibility: hidden;
}
@media (min-width: 1200px) {
  #body {
    margin: 0 auto;
    padding: 0 70px;
    width: 1060px;
  }
}
.gallery {
  line-height: 0;
}
.gallery[data-width="1400"] {
  margin-left: -100px;
  width: 1400px;
}
.slide {
  display: inline-block;
  position: relative;
}
.slide img {
  display: block;
}
.slide .caption {
  color: #fff;
  font: italic normal 50px/1 "helvetica-neue-condensed", sans-serif;
  position: absolute;
  text-align: center;
  text-transform: uppercase;
  top: 330px;
  width: 100%;
}
.slide .caption small {
  display: block;
  font: normal normal 20px/1 "helvetica-neue", sans-serif;
  margin-bottom: 10px;
}
.copy {
  margin: 0 auto;
  padding: 100px 15px;
  text-align: center;
  width: 700px;
}
.copy h3 {
  color: #222;
  font: normal 20px/1 "helvetica-neue", sans-serif;
  margin: 0;
  text-transform: uppercase;
}
.copy h3 + p {
  margin-top: 20px;
}
.copy em {
  font-style: italic;
}
.page-nav {
  background: #26282c;
  font: normal 12px/1 "helvetica-neue", sans-serif;
  padding: 40px 0;
  text-align: center;
  text-transform: uppercase;
}
.page-nav li {
  display: inline-block;
  margin: 0 10px;
}
.page-nav a {
  color: #999;
  text-decoration: none;
}
.page-nav a em {
  color: #fff;
}
.clearfix:after {
  clear: both;
  content: '.';
  display: block;
  height: 0;
  overflow: hidden;
  visibility: hidden;
}
.breadcrumb {
  color: #999;
  font: 11px/1 "helvetica-neue", sans-serif;
  margin-bottom: 40px;
}
.breadcrumb strong {
  color: #26282c;
  font-weight: bold;
}
.breadcrumb .arrow {
  background: transparent;
  display: inline;
}
.page-header {
  border-top: 1px solid #26282c;
  color: #26282c;
  margin-bottom: 50px;
  position: relative;
}
.page-header h1 {
  border-top: 1px solid #e7e8e9;
  font: italic 300 40px/1 "helvetica-neue-condensed", sans-serif;
  padding-top: 10px;
  text-transform: uppercase;
}
.page-header .progress {
  background: transparent url(/images/progress.select.png) no-repeat 0 0;
  height: 40px;
  position: absolute;
  right: 0;
  top: 7px;
  width: 238px;
}
.page-header .progress.customize {
  background-image: url(/images/progress.customize.png);
}
.page-header .progress.details {
  background-image: url(/images/progress.details.png);
}
.page-header .progress.done {
  background-image: url(/images/progress.done.png);
}
.confirmation {
  background: #000000 url(/images/confirmation.png);
  height: 329px;
  margin-bottom: 15px;
  position: relative;
  width: 100%;
}
.confirmation .message {
  left: 220px;
  position: absolute;
  top: 36px;
  width: 340px;
}
.confirmation .message h2 {
  background: transparent url(/images/icon.check.purple.png) no-repeat 0 0;
  color: #26282c;
  font: italic 100 30px/36px "helvetica-neue-condensed", sans-serif;
  margin-bottom: 10px;
  padding-left: 36px;
  text-transform: uppercase;
}
.confirmation .address {
  left: 604px;
  position: absolute;
  top: 38px;
}
.confirmation .address h2 {
  color: #26282c;
  font: normal bold 12px/16px "helvetica-neue", sans-serif;
  margin-bottom: 10px;
}
.confirmation .address p + p {
  margin-top: 10px;
}
.confirmation a {
  color: #8453aa;
  font: normal normal 12px/1 "helvetica-neue", sans-serif;
  text-decoration: none;
}
.columns {
  position: relative;
}
.columns:after {
  clear: both;
  content: '.';
  display: block;
  height: 0;
  overflow: hidden;
  visibility: hidden;
}
.left-column {
  float: left;
  margin-bottom: 55px;
  position: relative;
  width: 732px;
}
.right-column {
  float: right;
  width: 236px;
}
.room {
  background-color: #fff;
  margin-bottom: 15px;
  padding: 20px;
}
.room:last-child {
  margin-bottom: 0;
}
.room h2 {
  color: #26282c;
  font: bold 14px/1 "helvetica-neue", sans-serif;
}
.room h3 {
  color: #26282c;
  font: bold 12px/18px "helvetica-neue", sans-serif;
}
.room .room-title,
.room .amenities-title {
  float: left;
  margin-bottom: 10px;
}
.room .actions {
  float: right;
  font: normal normal 12px/16px "helvetica-neue", sans-serif;
}
.room .actions a {
  color: #8453aa;
  margin-left: 10px;
  text-decoration: none;
}
.room .actions span {
  background-color: transparent;
  background-image: url(/images/icon.actions.png);
  background-repeat: no-repeat;
  display: inline-block;
  height: 14px;
  margin-right: 4px;
  vertical-align: top;
}
.room .actions span.print {
  background-position: 0 0;
  width: 14px;
}
.room .actions span.email {
  background-position: -14px 0;
  width: 13px;
}
.room .actions span.edit {
  background-position: -27px 0;
  width: 10px;
}
.room .room-booking {
  float: right;
}
.room .room-booking .room-rate {
  color: #26282c;
  float: left;
  font: bold 24px/1 "helvetica-neue", sans-serif;
  margin-right: 20px;
}
.room .room-booking .room-rate small {
  color: #888;
  display: block;
  font: italic normal 10px/16px "helvetica-neue", sans-serif;
}
.room .room-booking .button {
  float: right;
}
.room .room-image,
.room .amenities .image {
  display: block;
  height: 230px;
  left: 0;
  position: absolute;
  top: 20px;
  width: 219px;
}
.room .room-details,
.room .room-summary,
.room .amenities {
  clear: both;
  padding-top: 20px;
  position: relative;
}
.room .room-details ul:not(.rates),
.room .room-summary ul:not(.rates),
.room .amenities ul:not(.rates) {
  float: left;
  width: 225px;
}
.room .room-details ul:not(.rates) li:before,
.room .room-summary ul:not(.rates) li:before,
.room .amenities ul:not(.rates) li:before {
  content: '•';
  margin-right: 5px;
}
.room .room-summary {
  min-height: 230px;
}
.room .room-summary h3 {
  margin-bottom: 20px;
}
.room .amenities {
  margin-bottom: -20px;
  padding-top: 0;
}
.room .amenities:after {
  clear: both;
  content: '.';
  display: block;
  height: 0;
  overflow: hidden;
  visibility: hidden;
}
.room .amenities .image {
  height: 120px;
  top: 10px;
}
.room .amenities .amenities-title + .image {
  top: 40px;
}
.room .amenities .image + .amenities-list {
  padding-top: 0;
}
.room .amenities .amenities-title + .image + .amenities-list {
  padding-top: 40px;
}
.room .room-summary + .amenities {
  padding-top: 50px;
}
.room .room-summary + .amenities .image {
  top: 90px;
}
.room .amenities + .amenities {
  border-top: 1px solid #e8e9ec;
  margin-top: 10px;
  padding-top: 10px;
}
.room .amenities-list {
  margin-left: 238px;
  min-height: 120px;
}
.room .amenities-list h3 {
  margin-bottom: 20px;
}
.room .add-package {
  float: right;
}
.room .add-package .package-rate {
  color: #26282c;
  display: inline;
  font: normal bold 18px/1 "helvetica-neue", sans-serif;
  margin-right: 10px;
}
.room .quick-details {
  margin-left: 238px;
  min-height: 230px;
  position: relative;
}
.room .quick-details a {
  bottom: 0;
  color: #8453aa;
  font: normal 12px/1 "helvetica-neue", sans-serif;
  position: absolute;
  text-decoration: none;
}
.room .quick-details .arrow {
  background: transparent url(/images/icon.arrow.purple.png) no-repeat 0 0;
  display: inline-block;
  height: 9px;
  padding-right: 3px;
  overflow: hidden;
  text-indent: -9999px;
  vertical-align: text-bottom;
  width: 8px;
  -webkit-transform: rotate(-90deg) translate(4px, 0);
}
.room .quick-details .open .arrow {
  -webkit-transform: translate(0, -3px);
}
.room .room-summary .highlights {
  font: normal 12px/1 "helvetica-neue", sans-serif;
  margin-left: 238px;
}
.room .room-summary .highlights h2 {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 5px;
}
.room .room-summary .highlights strong {
  color: #26282c;
  font-weight: bold;
  padding-right: 10px;
}
.room .room-summary .highlights a {
  color: #8453aa;
  text-decoration: none;
}
.room .room-summary .quick-details {
  bottom: 0;
  min-height: 0;
  position: absolute;
}
.room .room-summary .quick-details a {
  clear: both;
  display: block;
  padding-top: 15px;
  position: static;
}
.room .expanded-details {
  border-top: 1px solid #e8e9ec;
  margin-top: 20px;
  padding: 20px 0;
}
.room .expanded-details:after {
  clear: both;
  content: '.';
  display: block;
  height: 0;
  overflow: hidden;
  visibility: hidden;
}
.room .rates li {
  background: #f5f6f7;
  border: 1px solid #eeeff0;
  border-radius: 2px;
  float: left;
  font: normal 12px/16px "helvetica-neue", sans-serif;
  height: 66px;
  margin-right: 5px;
  margin-bottom: 30px;
  padding-top: 12px;
  text-align: center;
  width: 92px;
}
.room .rates li:last-child {
  margin-right: 0;
}
.room .rates li:first-child {
  margin-left: 2px;
}
.room .rates li * {
  display: block;
}
.room .rates li input {
  margin: 0 auto 8px;
}
.room .rates li .date {
  color: #8453aa;
  font-size: 18px;
  font-weight: normal;
  line-height: 1;
  margin-bottom: 2px;
}
.room .rates li .rate {
  color: #26282c;
  font-weight: bold;
}
.room .rates li.selected {
  background: #e6e7eb;
  border-color: #dbdcdf;
}
.room .rates li.selected .date {
  font-weight: bold;
}
.room .amenities-on-arrival {
  clear: left;
  padding-top: 20px;
}
.room .amenities-on-arrival:after {
  clear: both;
  content: '.';
  display: block;
  height: 0;
  overflow: hidden;
  visibility: hidden;
}
.room .amenities-on-arrival li {
  float: left;
  margin-bottom: 15px;
  padding-left: 15px;
  position: relative;
  width: 33%;
  -webkit-box-sizing: border-box;
}
.room .amenities-on-arrival li:nth-child(3n + 1) {
  padding-left: 0;
}
.room .amenities-on-arrival .control {
  color: #8453aa;
  font-weight: normal;
  text-transform: none;
  width: 100%;
}
.room .amenities-on-arrival .control + .control {
  position: absolute;
  right: 0;
  top: 0;
  width: 80px;
}
.room .amenities-on-arrival .control.dropdown,
.room .amenities-on-arrival .control.selected {
  color: #26282c;
}
.room .column {
  float: left;
  margin-right: 20px;
  width: 215px;
}
.room .column:last-child {
  margin-right: 0;
}
.room .column h3 {
  margin-bottom: 20px;
}
.room .column .floor-plan {
  display: block;
  margin: 20px auto 0;
}
#body {
  position: relative;
}
.receipt {
  font: normal normal 12px/16px "helvetica-neue", sans-serif;
}
.receipt.stuck {
  position: fixed;
  top: 135px;
  width: 236px;
}
.receipt.bottom {
  bottom: 55px;
  position: absolute;
  top: auto;
  width: 236px;
}
.receipt .status {
  background: #26282c;
  color: #fff;
  font-size: 12px;
  font-weight: bold;
  line-height: 24px;
  padding: 20px 15px 15px;
}
.receipt .property {
  background: transparent url(/images/icon.arrow.purple.png) no-repeat 100% 25%;
  font-size: 18px;
  font-weight: normal;
  line-height: 1;
  margin-bottom: 10px;
  text-transform: uppercase;
}
.receipt .subtotal {
  line-height: 26px;
}
.receipt .subtotal .estimate {
  font-size: 24px;
}
.receipt .subtotal .currency {
  font-size: 16px;
}
.receipt .details {
  background: #fff;
  border: 1px solid #e6e6e6;
  color: #26282c;
  padding: 15px 14px;
}
.receipt .details h3 {
  font-size: 12px;
  font-weight: bold;
  line-height: 18px;
  margin-bottom: 10px;
}
.receipt .details dl:after {
  clear: both;
  content: '.';
  display: block;
  height: 0;
  overflow: hidden;
  visibility: hidden;
}
.receipt .details dt {
  clear: right;
  float: left;
}
.receipt .details dd {
  float: right;
}
.receipt .details .reservation:after,
.receipt .details .fare:after,
.receipt .details .code:after,
.receipt .details .total:after {
  clear: both;
  content: '.';
  display: block;
  height: 0;
  overflow: hidden;
  visibility: hidden;
}
.receipt .details .reservation .control {
  margin-left: 6px;
  margin-bottom: 10px;
  width: 49%;
  -webkit-box-sizing: border-box;
}
.receipt .details .reservation .control:nth-child(even) {
  margin-left: 0;
}
.receipt .details .fare {
  border-bottom: 1px solid #e8e9ec;
  border-top: 1px solid #e8e9ec;
  margin: 5px 0;
  padding: 15px 0;
}
.receipt .details .code {
  border-bottom: 1px solid #e8e9ec;
  line-height: 36px;
  margin-bottom: 5px;
  padding-bottom: 3px;
  text-align: right;
}
.receipt .details .code .control {
  color: #a0a2a6;
  font-weight: normal;
  text-align: left;
  width: 50%;
}
.receipt .details .code strong {
  color: #8453aa;
}
.receipt .details .total {
  margin-bottom: 50px;
  padding-top: 10px;
}
.receipt .details .total dt {
  font-weight: bold;
}
.receipt .details .total dd {
  font-size: 24px;
  font-weight: bold;
}
.receipt .details .total dd small {
  font-size: 12px;
  font-weight: normal;
}
.receipt .details .total dd .arrow {
  margin-left: 5px;
}
.fine-print {
  font: italic 10px/18px "helvetica-neue", sans-serif;
  margin-top: 10px;
}
.other-options {
  background: #e6e7ed;
  clear: both;
  padding: 50px 0 150px;
}
.other-options h2 {
  color: #26282c;
  font: italic 300 24px/1 "helvetica-neue-condensed", sans-serif;
  margin-bottom: 40px;
  text-transform: uppercase;
}
.other-options h3 {
  color: #26282c;
  font: italic normal 14px/1 "Georgia", serif;
  margin: 10px 0;
  text-decoration: underline;
  text-transform: uppercase;
}
.other-options img {
  display: block;
}
.other-options p + p {
  margin-top: 10px;
}
.other-options a {
  color: #8453aa;
  font: italic normal 14px/1 "Georgia", serif;
  text-decoration: underline;
  text-transform: uppercase;
}
.other-options .property {
  float: left;
  margin-right: 15px;
  width: 236px;
}
.other-options:after {
  clear: both;
  content: '.';
  display: block;
  height: 0;
  overflow: hidden;
  visibility: hidden;
}
@media (min-width: 1200px) {
  .other-options {
    margin: 0 -110px;
    padding-left: 110px;
    padding-right: 110px;
  }
}
.bang {
  background: transparent url(/images/bang.png) no-repeat 40px 10px;
  margin: 0 !important;
  min-height: 320px;
  padding-top: 75px !important;
  padding-left: 350px;
}
.bang h2 {
  font: italic 100 40px/1 "helvetica-neue-condensed", sans-serif;
  margin-bottom: 15px;
  text-transform: uppercase;
}
.bang h3 {
  margin-bottom: 15px;
}
.make-some-noise {
  background: #e6e7ed url(/images/make-some-noise.png) no-repeat 50% 120px;
  margin: -82px -20px 0;
  padding: 80px 0 150px;
  text-align: center;
}
.make-some-noise h2 {
  font: italic 100 32px/1 "helvetica-neue-condensed", sans-serif;
  text-transform: uppercase;
}
.secure {
  background: transparent url(/images/icon.lock.png) no-repeat 0 40%;
  color: #26282c;
  font: normal normal 12px/34px "helvetica-neue", sans-serif;
  margin: -10px 0 5px;
  padding-left: 18px;
}
.block {
  background-color: #fff;
  font: normal normal 12px/16px "helvetica-neue", sans-serif;
}
.block + .block {
  margin-top: 15px;
}
.block.em {
  background-color: #e6e7ed;
}
.block a:not(.button) {
  color: #8453aa;
  text-decoration: none;
}
.block-header {
  padding: 20px;
}
.block-header .title {
  color: #26282c;
  font-size: 14px;
  line-height: 20px;
  font-weight: bold;
  margin-top: 4px;
}
.block-body,
.block-footer {
  padding: 20px;
}
.block-header + .block-body {
  padding-top: 10px;
}
.block-body + .block-footer {
  margin-top: -10px;
  padding-top: 0;
}
.form {
  margin-bottom: -10px;
}
.form:after {
  clear: both;
  content: '.';
  display: block;
  height: 0;
  overflow: hidden;
  visibility: hidden;
}
.form .field {
  float: left;
  margin-bottom: 10px;
  padding-left: 20px;
  width: 50%;
  -webkit-box-sizing: border-box;
}
.form .field.right {
  text-align: right;
}
.form .field.clear,
.form .field:first-child {
  clear: left;
  padding-left: 0;
}
.form .field.full {
  float: none;
  width: auto;
}
.form .field.quarter {
  width: 25%;
}
.form .field.third {
  width: 33%;
}
.form label {
  color: #26282c;
  display: block;
  font: normal bold 10px/1 "helvetica-neue", sans-serif;
  margin-bottom: 5px;
}
.form label.fine-print {
  color: #888;
  display: inline;
  font-weight: normal;
  padding-right: 10px;
}
.form label.fine-print a {
  color: #888;
  text-decoration: underline;
}
.form label input {
  margin-right: 4px;
}
.form .group {
  float: left;
}
.form .group + .group {
  margin-left: 4px;
}
.form .control {
  font-weight: normal;
  line-height: 6px;
  height: 30px;
  margin-bottom: 10px;
  width: 100%;
}
.form .control.quarter {
  width: 25%;
}
.form .control.third {
  width: 33%;
}
.form .control + .control.quarter {
  margin-left: 1%;
  width: 24%;
}
.form .control + .control.third {
  margin-left: 2%;
  width: 31%;
}
.button {
  background: #8453aa;
  border-radius: 2px;
  color: #fff;
  display: inline-block;
  font: italic normal 18px/1 "helvetica-neue-condensed", sans-serif;
  padding: 10px 25px 6px 21px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
}
.button.block {
  display: block;
}
.button.disabled {
  background: #c8ccd0;
}
.button.inverse {
  background: #f5f6f7;
  border: 1px solid #eeeff0;
  color: #8453aa;
}
.button.light {
  background: #fff;
  color: #8454aa;
}
.button.quarter {
  width: 25%;
}
.control {
  background: #f5f6f7;
  border: 1px solid #eeeff0;
  border-radius: 2px;
  color: #26282c;
  float: left;
  font: bold normal 11px/1 "helvetica-neue", sans-serif;
  padding: 12px 8px 9px;
  text-transform: uppercase;
  -webkit-box-sizing: border-box;
}
.control.add {
  background-image: url(/images/icon.toggle.png);
  background-position: -65px 50%;
  background-repeat: no-repeat;
  padding-left: 24px;
}
.control.calendar {
  background-image: url(/images/icon.calendar.png);
  background-position: 94% 49%;
  background-repeat: no-repeat;
}
.control.dropdown {
  background-image: url(/images/icon.arrow.purple.png);
  background-position: 90% 49%;
  background-repeat: no-repeat;
}
.control.selected {
  background-color: #f7fbef;
  background-image: url(/images/icon.check.png);
  background-position: 7px 49%;
  background-repeat: no-repeat;
  border-color: #85c054;
  padding-left: 24px;
}
.control.toggle {
  background-image: url(/images/icon.toggle.png);
  background-position: 50%;
  background-repeat: no-repeat;
  text-align: center;
}
.arrow {
  background: transparent url(/images/icon.arrow.purple.png) no-repeat 0 0;
  display: inline-block;
  height: 9px;
  width: 8px;
}
.help {
  background: transparent url(/images/icon.help.png) no-repeat 0 0;
  display: inline-block;
  height: 10px;
  margin-left: 4px;
  position: relative;
  top: -1px;
  width: 10px;
  vertical-align: middle;
}
.collapse {
  display: none;
}
.collapse.in {
  display: block;
}
.carousel {
  margin: 0 -110px;
  overflow: hidden;
}
.carousel .inner {
  padding: 0 !important;
  white-space: nowrap;
  width: 7200px;
}
.carousel .slide {
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: 0 0;
  float: left;
  height: 700px;
  width: 1200px;
}
.carousel img {
  display: block;
}
.body-navbar {
  background: #26282c;
  font: normal normal 12px/1 "helvetica-neue", sans-serif;
  margin: 0 -110px;
  text-align: center;
  text-transform: uppercase;
}
.body-navbar.stuck {
  position: fixed;
  top: 90px;
  width: 1200px;
  z-index: 2;
}
.body-navbar.bottom {
  bottom: 0;
  position: absolute;
  top: auto;
}
.body-navbar ul {
  padding: 40px 0;
}
.body-navbar li {
  display: inline;
  margin: 0 5px;
}
.body-navbar a {
  border-radius: 15px;
  color: #999;
  padding: 8px 10px 5px;
  text-decoration: none;
}
.body-navbar .on {
  background: #fff;
  color: #26282c;
}
.body-navbar .nav {
  float: none;
}
.body-navbar.booking {
  background-color: #f5f6f7;
  margin: 0;
}
.body-navbar.booking.stuck {
  margin: 0 -110px;
  padding: 0 110px;
  top: 60px;
  width: 980px;
}
.body-navbar.booking .nav {
  font: italic 100 20px/1 helvetica-neue-condensed, sans-serif;
  padding: 30px 0 25px;
  text-align: left;
}
.body-navbar.booking li:first-child {
  margin-left: -2px;
}
.body-navbar.booking li:first-child a {
  padding-left: 0;
}
.body-navbar.booking li:not(:last-child) a:after {
  background: transparent url(/images/icon.arrow.large.gray.png) no-repeat 0 0;
  background-size: 100%;
  content: '.';
  display: inline-block;
  height: 11px;
  left: 18px;
  position: relative;
  overflow: hidden;
  text-indent: -9999px;
  top: -2px;
  width: 9px;
  -webkit-transform: rotate(-90deg);
}
.body-navbar.booking .on {
  background: transparent;
  color: #26282c;
  font-weight: 300;
}
